Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): review mark ups
  src/modules/ods/dto/get-ods-customer-param.dto.ts
  src/modules/ods/dto/get-ods-customer-response.dto.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): remove unused type
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): test fixes
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): review mark ups
  src/modules/ods/ods.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1198)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): deploy mdm-api from feature branch to dev
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): update deployment script to use environment instead of github.ref_name during az cli queries
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): fix param naming
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: make PoD optional
  src/modules/customers/dto/dtfs-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update tests to include with and without probability of default
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/salesforce/salesforce.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): swap to longer living feature branch triggering deploys
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor: DRY test
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: test PoD not present as well as falsy
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-3163): allow non gef deals (#1201)
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.26.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1210)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.26.0 (#1211)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(error): added globalexceptional handling
  package-lock.json
  src/main.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(error): added globalexceptional handling (#1212)
  package-lock.json
  src/main.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.26.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.26.1 (#1213)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): review mark ups
  .github/workflows/deployment.yml
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/ods/ods.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): review mark up
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): add todo in deployment.yml
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): fix imports from rebasing
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): import ordering
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.module.ts
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(file-upload): upload file as a buffer type
  src/constants/govuk-notify.constant.ts
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/helpers/convert-string-to-buffer.test.ts
  src/helpers/convert-string-to-buffer.ts
  src/helpers/index.ts
  src/modules/emails/dto/post-emails-request.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(file-upload): upload file as a buffer type
  src/helpers/convert-string-to-buffer.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(file-upload): upload file as a buffer type
  src/helpers/convert-string-to-buffer.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(file-upload): upload file as a buffer type (#1248)
  src/constants/govuk-notify.constant.ts
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/helpers/convert-string-to-buffer.test.ts
  src/helpers/convert-string-to-buffer.ts
  src/helpers/index.ts
  src/modules/emails/dto/post-emails-request.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(renovate): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.26.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.26.2 (#1249)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files
