Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

feat(GIFT-12949): update api tests
  test/ods/ods.business-centres.api-test.ts
  test/ods/ods.customers.api-test.ts
  test/ods/ods.deal.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-12949): minor test improvement
  src/helpers/map-business-centre-non-working-days.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-12949): get business centre non working days from ods (#1418)
  src/constants/business-centre.constant.ts
  src/helpers/index.ts
  src/helpers/map-business-centre-non-working-days.test.ts
  src/helpers/map-business-centre-non-working-days.ts
  src/helpers/map-business-centres.ts
  src/modules/currencies/currencies.service.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/markets.service.ts
  src/modules/numbers/numbers.service.ts
  src/modules/ods/dto/get-ods-business-centre-non-working-day-mapped-response.dto.ts
  src/modules/ods/dto/get-ods-business-centre-non-working-day-response.dto.ts
  src/modules/ods/dto/get-ods-business-centre-non-working-days-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  src/modules/sector-industries/sector-industries.service.ts
  src/modules/yield-rates/yield-rates.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/ods/ods.business-centres.api-test.ts
  test/ods/ods.customers.api-test.ts
  test/ods/ods.deal.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bumps
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): updated PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bumps (#1436)
  .github/PULL_REQUEST_TEMPLATE.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(docs): documentation improvements
  src/modules/companies/companies.controller.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/markets/markets.controller.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/sector-industries/sector-industries.controller.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13480): update app config
  .env.sample
  src/config/app.config.ts
  src/constants/application.constant.ts
  src/constants/index.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13480): ods endpoint versioning
  .env.sample
  docker-compose.yml
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/modules/ods/ods.controller.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/support/environment-variables.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13480): update api tests
  test/ods/ods.business-centres.api-test.ts
  test/ods/ods.customers.api-test.ts
  test/ods/ods.deal.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13480): update snapshot
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13480): simplify app config
  src/config/app.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13480): fix/update documentation
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13480): ods endpoint versioning (#1448)
  .env.sample
  docker-compose.yml
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/constants/application.constant.ts
  src/constants/index.ts
  src/modules/companies/companies.controller.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/markets/markets.controller.ts
  src/modules/ods/ods.controller.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/sector-industries/sector-industries.controller.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/ods/ods.business-centres.api-test.ts
  test/ods/ods.customers.api-test.ts
  test/ods/ods.deal.api-test.ts
  test/support/environment-variables.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13528): get product configurations endpoint
  docker-compose.yml
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/constants/dom.constant.ts
  src/constants/index.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.module.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-product-configuration-response.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/mdm.module.ts
  src/modules/ods/ods.controller.ts
  test/dom/dom-product-configurations.api-test.ts
  test/ods/ods.business-centres.api-test.ts
  test/ods/ods.customers.api-test.ts
  test/ods/ods.deal.api-test.ts
  test/support/environment-variables.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13528): get product configurations endpoint
  src/config/app.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13528): fix typo
  src/config/app.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13528): get product configuration endpoint (#1451)
  docker-compose.yml
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/constants/dom.constant.ts
  src/constants/index.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.module.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-product-configuration-response.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/mdm.module.ts
  src/modules/ods/ods.controller.ts
  test/dom/dom-product-configurations.api-test.ts
  test/ods/ods.business-centres.api-test.ts
  test/ods/ods.customers.api-test.ts
  test/ods/ods.deal.api-test.ts
  test/support/environment-variables.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-13480): update deployment.yml
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-13480): update deployment.yml (#1452)
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): get business centres from dom
  src/constants/dom.constant.ts
  src/helpers/map-business-centres.test.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.module.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-business-centre-mapped-response.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/http/log-axios-request.axios-interceptor.test.ts
  src/modules/http/log-axios-response-error.axios-interceptor.test.ts
  src/modules/http/log-axios-response-success.axios-interceptor.test.ts
  src/modules/ods/ods.service-getBusinessCentres.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): delete ods business centres endpoint
  src/modules/ods/dto/get-ods-business-centre-mapped-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom.business-centres.api-test.ts
  test/ods/ods.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): improve documentation order
  src/modules/mdm.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1455)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): constant improvements
  src/constants/dom.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/constants/ods.constant.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-product-configuration-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): get single business centre dom endpoint
  src/constants/dom.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/constants/ods.constant.ts
  src/helpers/map-business-centres.test.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-business-centre-param.dto.ts
  src/modules/dom/dto/get-dom-business-centre-response.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/ods/dto/get-ods-business-centre-mapped-response.dto.ts
  src/modules/ods/dto/get-ods-business-centre-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service-findDeal.test.ts
  src/modules/ods/ods.service-getBusinessCentres.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): update api tests
  src/modules/ods/ods.controller.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom-product-configurations.api-test.ts
  test/dom/dom.business-centres.api-test.ts
  test/ods/ods.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): simplify get business centres endpoint/service
  src/constants/business-centre.constant.ts
  src/helpers/map-business-centres.test.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): remove unused method
  src/modules/ods/ods.service-getBusinessCentres.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): fix unit tests
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): update constants
  src/constants/dom.constant.ts
  src/constants/ods.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): regenerate package-lock.json
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): remove commented code
  src/constants/ods.constant.ts
  src/modules/dom/dom.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): constant improvements
  src/constants/dom.constant.ts
  src/constants/ods.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): update business centres
  src/constants/dom.constant.ts
  src/constants/ods.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): simplify dom service method
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13526): get DOM business centres (#1462)
  package-lock.json
  package.json
  src/constants/business-centre.constant.ts
  src/constants/dom.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/constants/ods.constant.ts
  src/helpers/map-business-centres.test.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.module.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-business-centre-param.dto.ts
  src/modules/dom/dto/get-dom-business-centre-response.dto.ts
  src/modules/dom/dto/get-dom-product-configuration-response.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/http/log-axios-request.axios-interceptor.test.ts
  src/modules/http/log-axios-response-error.axios-interceptor.test.ts
  src/modules/http/log-axios-response-success.axios-interceptor.test.ts
  src/modules/mdm.module.ts
  src/modules/ods/dto/get-ods-business-centre-param.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service-findDeal.test.ts
  src/modules/ods/ods.service-getBusinessCentres.test.ts
  src/modules/ods/ods.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom-product-configurations.api-test.ts
  test/dom/dom.business-centres.api-test.ts
  test/ods/ods.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-13526): business centre mapping
  src/helpers/index.ts
  src/helpers/map-business-centre.ts
  src/helpers/map-business-centres.test.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-13526): business centre mapping (#1465)
  src/helpers/index.ts
  src/helpers/map-business-centre.ts
  src/helpers/map-business-centres.test.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files
