Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: reduce code duplication
  test/markets/markets.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: make markets API tests more generic (#27)
  test/markets/expected-responses/GET-markets-query-active-N.json
  test/markets/expected-responses/GET-markets-query-active-Y.json
  test/markets/expected-responses/GET-markets.json
  test/markets/markets.api-test.ts
  test/numbers/expected-responses/GET-markets-query-active-N.json
  test/numbers/expected-responses/GET-markets.json
  test/numbers/expected-responses/GET-numbers-query-type-1-and-ukefId-0030581069.json
  test/numbers/numbers.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(unit-test): Unit testing on GHA
  .github/workflows/test.yml
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(unit-test): Unit testing on GHA
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(unit-test): Unit test execution on any change
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(package): NPM update
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(unit-test): Unit testing on GHA (#28)
  .github/workflows/sca.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: get sector industries, old endpoint was GET /map-industry-sector
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/mdm.module.ts
  src/modules/sector-industries/dto/get-sector-industries-query.dto.ts
  src/modules/sector-industries/entities/sector-industry.entity.ts
  src/modules/sector-industries/sector-industries.controller.spec.ts
  src/modules/sector-industries/sector-industries.controller.ts
  src/modules/sector-industries/sector-industries.module.ts
  src/modules/sector-industries/sector-industries.service.ts
  test/sector-industries/sector-industries.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(test): Consistent testing approach
  .eslintrc.json
  .github/workflows/test.yml
  jest.config.js
  jest.config.ts
  package.json
  src/modules/numbers/numbers.service.spec.ts
  test/app.api-test.ts
  test/interest-rates/interest-rates.api-test.ts
  test/jest.api-test.json
  test/markets/markets.api-test.ts
  test/numbers/numbers.api-test.ts
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(API-82): Unit test root directory
  jest.config.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/numbers/numbers.service.test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(API-82): Consistent testing approach (#31)
  .eslintrc.json
  .github/workflows/test.yml
  jest.config.js
  jest.config.ts
  package.json
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/numbers/numbers.service.test.ts
  test/app.api-test.ts
  test/interest-rates/interest-rates.api-test.ts
  test/jest.api-test.json
  test/markets/markets.api-test.ts
  test/numbers/numbers.api-test.ts
  tsconfig.build.json
  tsconfig.json
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: sector-industry code improvements based on PR comments
  src/modules/numbers/numbers.service.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/sector-industries/sector-industries.service.ts
  test/sector-industries/sector-industries.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: fix test preparation
  src/modules/sector-industries/sector-industries.controller.test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(API-97): Centralised constants
  jest.config.ts
  src/constants/date.ts
  src/constants/index.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/sector-industries/sector-industries.service.ts
  tsconfig.json
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(API-97): Alias name consistency
  jest.config.ts
  src/main.module.ts
  src/main.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.service.ts
  src/modules/mdm.module.ts
  src/modules/sector-industries/sector-industries.service.ts
  tsconfig.json
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(API-97): Lint fixes
  src/main.module.ts
  src/main.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.service.ts
  src/modules/mdm.module.ts
  src/modules/sector-industries/sector-industries.service.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(API-97): ESLint - Addedts extension to import/resolver rule
  .eslintrc.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(API-97): Added lint check to .husky
  .husky/commit-msg
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(API-97): added lint check to .husky
  .husky/commit-msg
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(API-97): Centralised constants (#34)
  .eslintrc.json
  .husky/commit-msg
  jest.config.ts
  src/constants/date.ts
  src/constants/index.ts
  src/main.module.ts
  src/main.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.service.ts
  src/modules/mdm.module.ts
  src/modules/sector-industries/sector-industries.service.ts
  tsconfig.json
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: get /constants/spi WIP
  src/modules/constants/constants.controller.ts
  src/modules/constants/constants.module.ts
  src/modules/constants/constants.service.spec.ts
  src/modules/constants/constants.service.ts
  src/modules/constants/dto/get-constants-spi-query.dto.ts
  src/modules/constants/entities/constants-spi.entity.ts
  src/modules/mdm.module.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: tests for endpoint /contants/spi
  src/modules/constants/constants.service.spec.ts
  src/modules/constants/constants.service.test.ts
  src/modules/constants/constants.service.ts
  src/modules/constants/entities/constants-spi.entity.ts
  src/modules/numbers/numbers.service.test.ts
  test/constants/constants.spi.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: improve Swagger documentation generation
  src/modules/constants/constants.controller.test.ts
  src/modules/constants/constants.controller.ts
  src/modules/constants/dto/get-constants-spi-query.dto.ts
  src/modules/constants/entities/constants-spi.entity.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/sector-industries/sector-industries.controller.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: import DB helper using path alias
  src/modules/constants/constants.service.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(API-83): GET `/constants/spi` (#38)
  .cspell.json
  src/modules/constants/constants.controller.test.ts
  src/modules/constants/constants.controller.ts
  src/modules/constants/constants.module.ts
  src/modules/constants/constants.service.ts
  src/modules/constants/dto/get-constants-spi-query.dto.ts
  src/modules/constants/entities/constants-spi.entity.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/numbers/numbers.service.test.ts
  src/modules/sector-industries/sector-industries.controller.ts
  test/constants/constants.spi.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: new endpoint GET /exposure-period
  src/modules/exposure-period/dto/exposure-period.dto.ts
  src/modules/exposure-period/dto/get-exposure-period-query.dto.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/exposure-period/exposure-period.module.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/mdm.module.ts
  test/constants/constants.spi.api-test.ts
  test/exposure-period/exposure-period.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: new endpoint GET `/exposure-period` (#39)
  src/modules/exposure-period/dto/exposure-period.dto.ts
  src/modules/exposure-period/dto/get-exposure-period-query.dto.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/exposure-period/exposure-period.module.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/mdm.module.ts
  test/constants/constants.spi.api-test.ts
  test/exposure-period/exposure-period.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: added GET currency endpoints
  package-lock.json
  package.json
  src/main.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/currencies.module.ts
  src/modules/currencies/currencies.service.ts
  src/modules/currencies/dto/get-currency-exchange.dto.ts
  src/modules/currencies/entities/currency-exchange.entity.ts
  src/modules/currencies/entities/currency.entity.ts
  src/modules/mdm.module.ts
  src/modules/sector-industries/sector-industries.service.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fixes
  package.json
  src/modules/currencies/currencies.controller.test.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: added exchangeRateDate
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/dto/get-currency-exchange.dto.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  src/modules/currencies/entities/currency-exchange.entity.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

small fix
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/currencies.service.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: code refactoring + tests
  package.json
  src/constants/database-name.constant.ts
  src/constants/date.constant.ts
  src/constants/index.ts
  src/database/mssql-cedar-database.module.ts
  src/database/mssql-cis-database.module.ts
  src/database/mssql-mdm-database.module.ts
  src/database/mssql-number-generator-database.module.ts
  src/modules/constants/constants.module.ts
  src/modules/constants/constants.service.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/currencies.module.ts
  src/modules/currencies/currencies.service.ts
  src/modules/currencies/dto/currency-exchange.dto.ts
  src/modules/currencies/dto/currency.dto.ts
  src/modules/currencies/dto/index.ts
  src/modules/currencies/entities/currency-exchange.entity.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/interest-rates/interest-rates.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/markets.module.ts
  src/modules/markets/markets.service.ts
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/numbers/numbers.service.ts
  src/modules/sector-industries/sector-industries.service.ts
  test/currencies/currencies.api-test.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  src/main.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): update NPM packages
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: updated the tests
  src/modules/currencies/currencies.controller.test.ts
  test/currencies/currencies.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: small typo fix
  src/constants/index.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  src/modules/currencies/currencies.controller.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
