Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

fix: removed --ignore-scripts
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: updated the file names
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: lint fixes based on sonarcloud (#159)
  .dockerignore
  Dockerfile
  src/main.ts
  src/modules/constants/constants.controller.test.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-310): added new query parameter 'search' to GET /markets
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/markets/dto/markets-query.dto.ts
  src/modules/markets/markets.controller.ts
  src/modules/markets/markets.service.ts
  test/markets/markets.api-test.ts
  test/test-constants.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-310): added new query parameter 'search' to GET /markets (#167)
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/markets/dto/markets-query.dto.ts
  src/modules/markets/markets.controller.ts
  src/modules/markets/markets.service.ts
  test/markets/markets.api-test.ts
  test/test-constants.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor(iac): env variables
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor(iac): env variables
  .cspell.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor(iac): IaC refacotr (#171)
  .cspell.json
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor(iac): iac refactored
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor(iac): iac refactored (#172)
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): added missing argument
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): added missing argument (#173)
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(mdm): reverted commit 5e1d74
  .dockerignore
  Dockerfile
  src/main.ts
  src/modules/constants/constants.controller.test.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(mdm): reverted commit 5e1d74 (#174)
  .dockerignore
  Dockerfile
  src/main.ts
  src/modules/constants/constants.controller.test.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

Revert "fix(mdm): reverted commit 5e1d74 (#174)"
  .dockerignore
  Dockerfile
  src/main.ts
  src/modules/constants/constants.controller.test.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(mdm/deployment): removed npm cache clean + env variable update
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  Dockerfile
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(mdm/deployment): removed npm cache clean + env variable update
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

Revert "fix(mdm): reverted commit 5e1d74 (#174)" (#176)
  .dockerignore
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  Dockerfile
  README.md
  src/main.ts
  src/modules/constants/constants.controller.test.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(build): dockerfile merge conflict
  .github/workflows/lint.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  Dockerfile
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore: only lint once on commit
  .husky/commit-msg
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore: only lint once on commit (#180)
  .husky/commit-msg
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(eslint): added destructure eslint rule
  .eslintrc.json
  src/modules/premium-schedules/premium-schedules.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(eslint): added destructure eslint rule
  src/modules/premium-schedules/premium-schedules.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(eslint): added destructure eslint rule (#206)
  .eslintrc.json
  src/modules/premium-schedules/premium-schedules.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-261): individual database hosts
  .env.sample
  .github/workflows/deployment.yml
  docker-compose.yml
  src/config/database.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-261): individual database hosts (#207)
  .env.sample
  .github/workflows/deployment.yml
  docker-compose.yml
  src/config/database.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-261): api import post deployment
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-261): code refactorisation
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-261): var introduction
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bumps
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-261): apim api service url update
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-261): prod vnet peering conditional job
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-261): prod vnet peering conditional job
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-261): import test
  .github/workflows/deployment.yml
  src/modules/healthcheck/healthcheck.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-261): updated endpoint description
  .github/workflows/deployment.yml
  src/modules/healthcheck/healthcheck.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-261): API import post deployment (#210)
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
  package-lock.json
  src/modules/healthcheck/healthcheck.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-207): deployment branch trigger
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-207): Iac Monitor (#218)
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

docs(cicd): updated documentation + deps bump
  .github/workflows/README.md
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files
