Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(dependabot): added dependabot.yml GHA
  .github/workflows/dependabot.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(dependabot): moved to correct location
  .github/dependabot.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): azure APIM
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: adding authentication header to swagger ui, removing wrong authentication
  src/modules/constants/constants.controller.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/markets/markets.controller.ts
  src/modules/numbers/numbers.controller.ts
  src/swagger.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: adding authentication header to swagger ui, removing wrong auth… (#82)
  src/modules/constants/constants.controller.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/markets/markets.controller.ts
  src/modules/numbers/numbers.controller.ts
  src/swagger.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): added --internal-only to CAE
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): configuring APIM
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): documentation
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor: code refactor. + updated the documentation
  package-lock.json
  package.json
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/currencies.service.ts
  src/modules/currencies/dto/currency-exchange.dto.ts
  src/modules/currencies/dto/currency.dto.ts
  src/modules/currencies/entities/currency-exchange.entity.ts
  src/modules/currencies/entities/currency.entity.ts
  src/modules/interest-rates/entities/interest-rate.entity.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.controller.ts
  src/modules/numbers/entities/ukef-id.entity.ts
  src/modules/numbers/numbers.module.ts
  src/modules/numbers/numbers.service.ts
  src/modules/sector-industries/entities/sector-industry.entity.ts
  src/modules/sector-industries/sector-industries.controller.ts
  src/modules/sector-industries/sector-industries.module.ts
  src/modules/sector-industries/sector-industries.service.ts
  src/modules/yield-rates/entities/yield-rate.entity.ts
  src/modules/yield-rates/yield-rates.controller.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: removed transform for currency dates
  src/modules/currencies/entities/currency.entity.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: small dates and documents fixes
  src/modules/currencies/entities/currency.entity.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/premium-schedules/entities/premium-schedule.entity.ts
  src/modules/sector-industries/entities/sector-industry.entity.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  src/modules/currencies/dto/currencies.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  src/modules/currencies/dto/currencies.dto.ts
  src/modules/yield-rates/entities/yield-rate.entity.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: code refactor. + updated the documentation (#97)
  package-lock.json
  package.json
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/currencies.service.ts
  src/modules/currencies/dto/currency-exchange.dto.ts
  src/modules/currencies/dto/currency.dto.ts
  src/modules/currencies/entities/currency-exchange.entity.ts
  src/modules/currencies/entities/currency.entity.ts
  src/modules/interest-rates/entities/interest-rate.entity.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.controller.ts
  src/modules/numbers/entities/ukef-id.entity.ts
  src/modules/numbers/numbers.module.ts
  src/modules/numbers/numbers.service.ts
  src/modules/premium-schedules/entities/premium-schedule.entity.ts
  src/modules/sector-industries/entities/sector-industry.entity.ts
  src/modules/sector-industries/sector-industries.controller.ts
  src/modules/sector-industries/sector-industries.module.ts
  src/modules/sector-industries/sector-industries.service.ts
  src/modules/yield-rates/entities/yield-rate.entity.ts
  src/modules/yield-rates/yield-rates.controller.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): added VNET peering + Updated base docker image
  .github/workflows/infrastructure.yml
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): changed deployment branch
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): vnet peer name
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: fixed currency exchange bugs
  src/modules/currencies/currencies.service.ts
  src/modules/currencies/entities/currency-exchange.entity.ts
  src/modules/markets/entities/market.entity.ts
  test/currencies/currencies.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-197): fixed currency exchange issues (#107)
  src/modules/currencies/currencies.service.ts
  src/modules/currencies/entities/currency-exchange.entity.ts
  src/modules/markets/entities/market.entity.ts
  test/currencies/currencies.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): apim service plan
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): vnet peering with peeringState
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): added RG and Subscription to remote VNET CLI
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): apim products syntax updates
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): removed --no-wait from APIM
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): trigger dev deployment
  .github/workflows/development.yml
  Dockerfile
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): dockerfile base image update + DaC update
  .github/workflows/development.yml
  Dockerfile
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): container app IP restriction
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): package outdated update
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): latest deployment
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
