Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(acr): acr purge workflow
  .github/actions/acr/action.yml
  .github/actions/notify/action.yml
  .github/workflows/purge.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(acr): pull request template update
  .github/PULL_REQUEST_TEMPLATE.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(acr): removed temp branch name
  .github/workflows/purge.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(apim): lint fixes
  .cspell.json
  .github/workflows/purge.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(acr): acr purge workflow (#1278)
  .cspell.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/acr/action.yml
  .github/actions/notify/action.yml
  .github/workflows/purge.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.27.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3543): add api test for ods integration and update snapshot test
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/ods/ods.customers.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3543): fix typo
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  .cspell.json
  package-lock.json
  package.json
  test/geospatial/get-address-by-postcode.api-test.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(renovate): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.27.0 (#1280)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(major-11-all): dependencies updates
  package-lock.json
  package.json
  src/modules/auth/strategy/api-key.strategy.ts
  src/modules/emails/emails.controller.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(major-11-all): fixed env variable test cases for auth service
  src/modules/auth/auth.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(major-11-all): added additional test cases
  src/modules/auth/auth.service.test.ts
  src/modules/auth/strategy/api-key.strategy.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(test): updated secret to test.yml
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1342)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(docs): update env sample
  .env.sample
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): update ods payloads dto
  src/modules/ods/dto/ods-payloads.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): dto improvements
  src/modules/ods/dto/get-ods-deal-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-11665): constants documentation improvement
  src/constants/deals.constant.ts
  src/constants/index.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): ods service - find a deal
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): setup ods get deal endpoint
  src/constants/ukef-id.constant.ts
  src/modules/ods/dto/get-ods-deal-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(tests): api test improvements
  test/customers/get-customers.api-test.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(tests): minor test generator improvements
  test/support/generator/get-company-generator.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): add temporary console log
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1356)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): ods service - find a deal
  src/constants/deals.constant.ts
  src/modules/ods/dto/get-ods-deal-param.dto.ts
  src/modules/ods/dto/get-ods-deal-response.dto.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.module.ts
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.customers.api-test.ts
  test/ods/ods.deal.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11655): fix/update unit tests
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): unit test improvements
  src/constants/index.ts
  src/modules/ods/ods.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-11665): fix lint issues/warnings
  src/helpers/redact-strings-in-log-args.helper.ts
  src/modules/mdm.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1363)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
