Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-28427): markups
  src/constants/examples/product-config.examples.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-28427): fix typing issues
  src/modules/ods/dto/get-product-config-ods-response.dto.ts
  src/modules/ods/ods-product-config.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-28427): product config - temporary config examples (#1892)
  .cspell.json
  src/constants/examples/examples.constant.ts
  src/constants/examples/product-config.examples.constant.ts
  src/modules/ods/dto/get-product-config-ods-response.dto.ts
  src/modules/ods/ods-product-config.service-findOne.test.ts
  src/modules/ods/ods-product-config.service-getAll.test.ts
  src/modules/ods/ods-product-config.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-28427): product config - temporary examples
  src/constants/examples/product-config.examples.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-28427): product config - temporary examples (#1895)
  src/constants/examples/product-config.examples.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-647): add build and start check
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-647): markups
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-647): build and start check (#1897)
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-650): create salesforce customer - customer type field
  src/constants/examples/examples.constant.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  test/customers/post-customers.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-650): update constant
  src/constants/examples/examples.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-650): markups
  src/constants/enums/customer-company-subtypes.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
  test/customers/post-customers.api-test.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-650): markups
  src/modules/customers/dto/dtfs-customer.dto.ts
  test/customers/post-customers.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-650): create salesforce customer - customer type field (#1898)
  src/constants/enums/customer-company-subtypes.ts
  src/constants/examples/examples.constant.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
  test/customers/post-customers.api-test.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): create salesforce customer - optional customerType
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): unit test
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): markups
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): markups
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): fix/update tests
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): update test
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): remove commented code
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-656)): update eslint
  package-lock.json
  package.json
  src/config/companies-house.config.ts
  src/config/database.config.ts
  src/config/doc.config.ts
  src/config/dun-and-bradstreet.config.ts
  src/config/informatica.config.ts
  src/config/ordnance-survey.config.ts
  src/config/salesforce.config.ts
  src/helper-modules/companies-house/wrap-companies-house-http-error-callback.ts
  src/helper-modules/dun-and-bradstreet/wrap-dun-and-bradstreet-http-error-callback.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.test.ts
  src/helpers/redact-strings-in-log-args.helper.test.ts
  src/main.module.ts
  src/main.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/informatica/informatica.service.test.ts
  src/modules/informatica/wrap-informatica-http-error-callback.ts
  src/modules/markets/markets.service.ts
  src/modules/numbers/dto/get-numbers-query.dto.ts
  src/modules/ods/ods-stored-procedure.service.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/salesforce/wrap-salesforce-http-error-callback.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-663): create salesforce customer - temporarily optional customerType (#1900)
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-656): fix type-check, prettier issues
  src/config/informatica.config.ts
  src/config/salesforce.config.test.ts
  src/helper-modules/companies-house/companies-house.module.ts
  src/helper-modules/companies-house/companies-house.service.ts
  src/helper-modules/dun-and-bradstreet/dun-and-bradstreet.module.ts
  src/helper-modules/dun-and-bradstreet/dun-and-bradstreet.service.ts
  src/helper-modules/ordnance-survey/ordnance-survey.module.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.ts
  src/modules/customers/customers.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/informatica/informatica.module.ts
  src/modules/ods/ods-accruals.service-findAccrualFrequency.test.ts
  src/modules/ods/ods-accruals.service-findScheduleClassification.test.ts
  src/modules/ods/ods-accruals.service-getAccrualFrequencies.test.ts
  src/modules/ods/ods-accruals.service-getScheduleClassifications.test.ts
  src/modules/ods/ods-counterparty-role.service-findOne.test.ts
  src/modules/ods/ods-counterparty-role.service-getAll.test.ts
  src/modules/ods/ods-facility-category.service-findOne.test.ts
  src/modules/ods/ods-facility-category.service-getAll.test.ts
  src/modules/ods/ods.service-findBusinessCentre.test.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service-findFeeType.test.ts
  src/modules/ods/ods.service-findUkefIndustry.test.ts
  src/modules/ods/ods.service-getBusinessCentres.test.ts
  src/modules/ods/ods.service-getUkefIndustries.test.ts
  src/modules/ods/ods.service-getUkefIndustryCodes.test.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-656): markups
  src/config/app.config.ts
  src/config/informatica.config.ts
  src/config/ordnance-survey.config.ts
  src/config/salesforce.config.ts
  src/helper-modules/ordnance-survey/ordnance-survey.module.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.ts
  src/modules/informatica/informatica.module.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-656): markups
  src/modules/ods/ods.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-656): fix/update app config
  src/config/app.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  .github/actions/acr/action.yml
  .github/actions/notify/action.yml
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
