Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): update documentation
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): update tests for new response shape
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): fix tests
  src/modules/ods/ods.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: lint
  src/logging/log-keys-to-redact.test.ts
  src/logging/log-keys-to-redact.ts
  src/main.module.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.module.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.test.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update sample.env
  .env.sample
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(renevote/all): deps bump
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.23.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor: split up getOrCreateCustomer
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: DRYing
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: lint
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: call dun and bradstreet before numgen
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update cspell with NUMGEN and sobjects
  .cspell.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor: cleanup and add dostrings
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/http/http.constants.ts
  src/modules/salesforce/salesforce.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: PR comment responses
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-salesforce-response.dto.ts
  src/modules/salesforce/dto/get-customers-salesforce-response.dto.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.test.ts
  src/modules/salesforce/salesforce.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: lint
  src/modules/customers/customers.service.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update numgen examples in swagger
  src/modules/numbers/dto/get-numbers-query.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: get rejectUnauthorized from node_env
  src/modules/salesforce/salesforce.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: refactor into helper
  src/helpers/https-agent.helper.ts
  src/modules/salesforce/salesforce.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

test: add test for legacy with no urn
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: lint
  src/modules/salesforce/salesforce.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update snapshot
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: add eslint-plugin-node to dev deps
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: add govuk notify exmaple binary (in snapshot) to spell dict
  .cspell.json
  .eslintrc.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: revert adding govuk notify exmaple binary (in snapshot) to spell dict
  .cspell.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: don't lint snapshot
  .cspell.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): update types, refer to data engineering types and documentation and small fixes
  .github/workflows/deployment.yml
  src/modules/ods/dto/get-ods-customer-param.dto.ts
  src/modules/ods/dto/get-ods-customer-response.dto.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.module.ts
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: revert .eslintrc.json
  .eslintrc.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: revert eslint-plugin-node dep
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

docs: add docstring for isDevelopment
  src/helpers/https-agent.helper.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: rename is-development, add docstring and test
  src/helpers/is-development.helper.test.ts
  src/helpers/is-development.helper.ts
  src/modules/salesforce/salesforce.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: re-add eslint-plugin-node dep
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor: lint
  src/helpers/is-development.helper.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3546): update tests
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update create customer dto validation
  src/modules/customers/dto/create-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: more length -> min, max
  src/modules/customers/dto/company-registration-number.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
