Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

feat: added GET `/currencies`, `/currencies/{isoCode}` and `/currencies/exchange` endpoints (#40)
  package-lock.json
  package.json
  src/constants/database-name.constant.ts
  src/constants/date.constant.ts
  src/constants/index.ts
  src/database/mssql-cedar-database.module.ts
  src/database/mssql-cis-database.module.ts
  src/database/mssql-mdm-database.module.ts
  src/database/mssql-number-generator-database.module.ts
  src/main.ts
  src/modules/constants/constants.module.ts
  src/modules/constants/constants.service.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/currencies.module.ts
  src/modules/currencies/currencies.service.ts
  src/modules/currencies/dto/currency-exchange.dto.ts
  src/modules/currencies/dto/currency.dto.ts
  src/modules/currencies/dto/index.ts
  src/modules/currencies/entities/currency-exchange.entity.ts
  src/modules/currencies/entities/currency.entity.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/interest-rates/interest-rates.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/markets.module.ts
  src/modules/markets/markets.service.ts
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/numbers/numbers.service.ts
  src/modules/sector-industries/sector-industries.service.ts
  test/currencies/currencies.api-test.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): updated all NPM packages (#41)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: added API Key auth
  jest.config.ts
  package-lock.json
  package.json
  src/auth/auth.module.ts
  src/auth/auth.service.test.ts
  src/auth/auth.service.ts
  src/auth/guard/apiKey.guard.ts
  src/auth/strategy/apikey.strategy.ts
  src/config/app.config.ts
  src/database/database.module.ts
  src/database/index.ts
  src/main.module.ts
  src/main.ts
  src/modules/constants/constants.controller.ts
  src/modules/healthcheck/healthcheck.module.ts
  tsconfig.json
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  package.json
  src/auth/auth.service.ts
  src/auth/guard/apiKey.guard.ts
  src/auth/strategy/apikey.strategy.ts
  src/config/app.config.ts
  test/markets/markets.api-test.ts
  test/numbers/numbers.api-test.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor: improve code quality
  src/auth/strategy/apikey.strategy.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

docs: updated the docs
  .env.sample
  README.md
  src/config/app.config.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-90-91): post and get premium schedules
  .cspell.json
  .eslintrc.json
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  src/modules/premium-schedules/dto/get-premium-schedule-param.dto.ts
  src/modules/premium-schedules/entities/premium-schedule.entity.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/premium-schedules/premium-schedules.module.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: added extra test conditions for POST /premium/schedules
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: remove unused imports, documentation improvement
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/premium-schedules/premium-schedules.service.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: moved db and auth into modules. + other small fixes
  jest.config.ts
  src/constants/auth.constant.ts
  src/constants/index.ts
  src/main.module.ts
  src/main.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.test.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/guard/api-key.guard.ts
  src/modules/auth/strategy/api-key.strategy.ts
  src/modules/constants/constants.controller.ts
  src/modules/database/database.module.ts
  src/modules/database/mssql-cedar-database.module.ts
  src/modules/database/mssql-cis-database.module.ts
  src/modules/database/mssql-mdm-database.module.ts
  src/modules/database/mssql-number-generator-database.module.ts
  src/modules/mdm.module.ts
  test/markets/markets.api-test.ts
  tsconfig.json
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(npm-update): dependencies update
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: updated the test cases
  .lintstagedrc.json
  jest.config.ts
  package.json
  src/app.ts
  src/main.ts
  src/modules/auth/auth.service.test.ts
  src/swagger.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: code and documentation improvements
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  src/modules/premium-schedules/dto/get-premium-schedule-param.dto.ts
  src/modules/premium-schedules/entities/premium-schedule.entity.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(npm-update): dependencies update (#47)
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix: small fixes
  .lintstagedrc.json
  package.json
  src/modules/auth/auth.service.test.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  .lintstagedrc.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: added authentication using API Key (#44)
  .env.sample
  README.md
  jest.config.ts
  package-lock.json
  package.json
  src/app.ts
  src/config/app.config.ts
  src/constants/auth.constant.ts
  src/constants/index.ts
  src/database/index.ts
  src/main.module.ts
  src/main.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.test.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/guard/api-key.guard.ts
  src/modules/auth/strategy/api-key.strategy.ts
  src/modules/database/database.module.ts
  src/modules/database/mssql-cedar-database.module.ts
  src/modules/database/mssql-cis-database.module.ts
  src/modules/database/mssql-mdm-database.module.ts
  src/modules/database/mssql-number-generator-database.module.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/mdm.module.ts
  src/swagger.ts
  test/markets/markets.api-test.ts
  test/numbers/numbers.api-test.ts
  tsconfig.json
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-90-91): post and get premium schedules (#45)
  .cspell.json
  .eslintrc.json
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  src/modules/premium-schedules/dto/get-premium-schedule-param.dto.ts
  src/modules/premium-schedules/entities/premium-schedule.entity.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/premium-schedules/premium-schedules.module.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-151): global enum introduction
  src/constants/enums.ts
  src/constants/enums/products.ts
  src/constants/index.ts
  src/constants/products.ts
  src/modules/exposure-period/dto/get-exposure-period-query.dto.ts
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  test/exposure-period/exposure-period.api-test.ts
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-96): get /yield-rates
  .cspell.json
  src/constants/date.constant.ts
  src/modules/mdm.module.ts
  src/modules/yield-rates/dto/get-yield-rates-query.dto.ts
  src/modules/yield-rates/entities/yield-rate.entity.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.ts
  src/modules/yield-rates/yield-rates.module.ts
  src/modules/yield-rates/yield-rates.service.ts
  test/yield-rates/yield-rates.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-151): fixed tild
  test/exposure-period/exposure-period.api-test.ts
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-151): fixed tests and increased test coverage
  .env.sample
  src/constants/enums.ts
  src/modules/exposure-period/dto/get-exposure-period-query.dto.ts
  test/exposure-period/exposure-period.api-test.ts
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-151): global enum introduction (#49)
  .env.sample
  src/constants/enums.ts
  src/constants/enums/products.ts
  src/constants/index.ts
  src/constants/products.ts
  src/modules/exposure-period/dto/get-exposure-period-query.dto.ts
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  test/exposure-period/exposure-period.api-test.ts
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: apim-96 get yield rates and Swagger documentation improvements
  src/modules/constants/constants.controller.ts
  src/modules/constants/dto/get-constants-spi-query.dto.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/dto/currency-exchange.dto.ts
  src/modules/currencies/dto/currency.dto.ts
  src/modules/exposure-period/dto/get-exposure-period-query.dto.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/markets/dto/markets-query.dto.ts
  src/modules/markets/markets.controller.ts
  src/modules/numbers/dto/get-numbers-query.dto.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/sector-industries/dto/get-sector-industries-query.dto.ts
  src/modules/sector-industries/sector-industries.controller.ts
  src/modules/yield-rates/dto/get-yield-rates-query.dto.ts
  src/modules/yield-rates/yield-rates.controller.ts
  test/exposure-period/exposure-period.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: exposure-period api-test
  test/exposure-period/exposure-period.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: remove unused imports
  src/modules/currencies/currencies.controller.ts
  src/modules/markets/markets.controller.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/sector-industries/sector-industries.controller.ts
  src/modules/yield-rates/yield-rates.controller.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: use alias for DATE constant import
  src/modules/yield-rates/yield-rates.service.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: improve empty array checks for typeORM responses
  src/modules/premium-schedules/premium-schedules.service.ts
  src/modules/yield-rates/yield-rates.service.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: improve validations and tests
  src/modules/numbers/dto/get-numbers-query.dto.ts
  src/modules/sector-industries/dto/get-sector-industries-query.dto.ts
  test/yield-rates/yield-rates.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore: improved test description
  test/yield-rates/yield-rates.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-96): added GET `/yield-rates` endpoint (#50)
  .cspell.json
  src/constants/date.constant.ts
  src/modules/constants/constants.controller.ts
  src/modules/constants/dto/get-constants-spi-query.dto.ts
  src/modules/currencies/currencies.controller.ts
  src/modules/currencies/dto/currency-exchange.dto.ts
  src/modules/currencies/dto/currency.dto.ts
  src/modules/exposure-period/dto/get-exposure-period-query.dto.ts
  src/modules/exposure-period/exposure-period.controller.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/markets/dto/markets-query.dto.ts
  src/modules/markets/markets.controller.ts
  src/modules/mdm.module.ts
  src/modules/numbers/dto/get-numbers-query.dto.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  src/modules/sector-industries/dto/get-sector-industries-query.dto.ts
  src/modules/sector-industries/sector-industries.controller.ts
  src/modules/yield-rates/dto/get-yield-rates-query.dto.ts
  src/modules/yield-rates/entities/yield-rate.entity.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.ts
  src/modules/yield-rates/yield-rates.module.ts
  src/modules/yield-rates/yield-rates.service.ts
  test/exposure-period/exposure-period.api-test.ts
  test/yield-rates/yield-rates.api-test.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): update all NPM packages
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix: removed unused packages
  commitlint.config.js
  package-lock.json
  package.json
  src/swagger.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): update all NPM packages (#51)
  commitlint.config.js
  package-lock.json
  package.json
  src/swagger.ts
Due: eslint --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor: install eslint-plugin-unused-imports
  .eslintrc.json
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor: remove unused vars and imports
  src/helpers/db-response.helper.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
  test/createApp.ts
Due: eslint --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(npm-update): dependency update
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-149): base infrastructure
  .cspell.json
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-149): base infrastructure
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files
