Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): apim api product association
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): added JSON export openapi link
  src/swagger.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): trigger deployment
  .github/workflows/development.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): changed examples swagger property to example string property
  src/modules/constants/entities/constants-spi.entity.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): added apim import command + TFS and eStore introduced
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): space escape typo
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): az cli literal string change to dynamic string
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): removed test branch
  .github/workflows/development.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): added custom URL documentation
  README.md
  src/swagger.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: bug apim-203 added specification parameter to make optional fields optional in spec
  src/modules/currencies/dto/currency-exchange.dto.ts
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  src/modules/yield-rates/dto/get-yield-rates-query.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): dynamic resouce name fetch + infrastrcture version environment variable
  .github/workflows/development.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): development env resource group name
  .github/workflows/development.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): added pr branch under workflow trigger
  .github/workflows/development.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): removed frivolous swagger docs-* links
  src/swagger.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): removed TFS and ESTORE IaC
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): removed temp PR branch
  .github/workflows/development.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): infrastrcture deployment
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): removed PR branch
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-162): API management instance (#78)
  .cspell.json
  .github/workflows/deploy.sh
  .github/workflows/development.yml
  .github/workflows/infrastructure.yml
  CHANGELOG.md
  Dockerfile
  README.md
  package-lock.json
  package.json
  src/modules/constants/entities/constants-spi.entity.ts
  src/swagger.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

docs(gha): improved GHA documentation
  .github/workflows/README.md
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

docs(docker): improved MD documentation + docker documentation
  .env.sample
  README.md
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

docs(docker): renamed container_name
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

docs(gha): improved GHA documentation (#115)
  .env.sample
  .github/workflows/README.md
  .github/workflows/infrastructure.yml
  README.md
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(lint): lint fixes + consistent naming convention
  Dockerfile
  jest.config.ts
  src/main.module.ts
  src/modules/mdm.module.ts
  tsconfig.json
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(lint): lint fixes + consistent naming convention (#117)
  Dockerfile
  jest.config.ts
  package-lock.json
  src/main.module.ts
  src/modules/mdm.module.ts
  tsconfig.json
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(revision): revision suffix to refer to run_id
  .github/workflows/development.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(revision): revision suffix to refer to run_id (#143)
  .github/workflows/development.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-194): fixed the differences in `/markets` endpoint
  src/modules/markets/dto/get-markets.dto.ts
  src/modules/markets/markets.controller.ts
  test/markets/markets.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: small fix
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore: updated npm packages
  package-lock.json
  package.json
  src/swagger.ts
  tsconfig.json
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(staging): staging environment deployment
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(staging): env variable
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(staging): az login
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(staging): az vnet
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(staging): vpn
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
