Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor(DTFS2-7121): lint
  src/modules/companies/companies.service.test.ts
  src/modules/companies/companies.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor(DTFS2-7121): lint
  src/modules/companies/companies.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor(DTFS2-7121): add 422 Swagger documentation
  src/modules/companies/companies.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7121): change response format to make mapping in DTFS easier
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
  src/modules/companies/examples/example-response-for-get-company-by-registration-number.json
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(DTFS2-7121): correct typo in CHANGELOG.md causing cspell pipeline check to fail
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor(DTFS2-7121): use for...of loop in shuffleArray function
  .cspell.json
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): return error message as string instead of array
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  test/emails/post-emails.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.0 (#906)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(deployment): added env variables to deployment
  .env.sample
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(deployment): added env variables to deployment (#918)
  .env.sample
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.1 (#919)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(DTFS2-7203): fix bug where /companies returns 500 for companies w/o SIC codes
  src/modules/companies/companies.service.test.ts
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(DTFS2-7203): fix 'eslint-plugin-node' not found lint issue
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(DTFS2-7203): fix bug where /companies returns 500 for companies w/o SIC codes (#932)
  package-lock.json
  package.json
  src/modules/companies/companies.service.test.ts
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.2
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.2 (#934)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(DTFS2-7223): ensure registration number regex only accepts 8-character strings
  src/constants/companies.constant.ts
  src/modules/companies/dto/get-company-by-registration-number-query.dto.ts
  test/companies/get-company-by-registration-number.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(DTFS2-7223): ensure registration number regex only accepts 8-character strings (#943)
  src/constants/companies.constant.ts
  src/modules/companies/dto/get-company-by-registration-number-query.dto.ts
  test/companies/get-company-by-registration-number.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.3
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.3 (#944)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.4
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(company-house-response): update company house response to reflect empty body for 404
  src/helper-modules/companies-house/known-errors.ts
  src/helpers/index.ts
  src/helpers/response-status.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(company-house-response): update company house response to reflect empty body for 404
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(test): fixed unit test cases
  package-lock.json
  package.json
  src/helper-modules/companies-house/companies-house.service.test.ts
  src/helper-modules/companies-house/known-errors.ts
  src/helper-modules/companies-house/wrap-companies-house-http-error-callback.ts
  src/helpers/index.ts
  src/helpers/response-status.helper.test.ts
  src/helpers/response-status.helper.ts
  test/companies/get-company-by-registration-number.api-test.ts
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(company-house): improved docstring
  src/helpers/response-status.helper.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(test): fixed unit test cases
  src/helpers/response-status.helper.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(company-house): refactored code
  src/helper-modules/companies-house/wrap-companies-house-http-error-callback.ts
  src/helpers/response-status.helper.ts
  test/companies/get-company-by-registration-number.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(company-house): updated snapshot
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(company-house): updated snapshot
  src/helpers/response-status.helper.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
