Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-617): markdown linting (#1496)
  .github/workflows/lint.yml
  .markdownlint.json
  .markdownlintignore
  .prettierrc.json
  README.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(github-actions): updated checkout to v5
  .github/actions/acr/action.yml
  .github/actions/notify/action.yml
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): added additional fields for salesforce customer creation
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): added additional fields for salesforce customer creation
  test/customers/post-customers.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): industry fields for salesforce customer (#1503)
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  test/customers/post-customers.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.29.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.29.0 (#1504)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(docker): updated docker base image
  .markdownlint.json
  Dockerfile
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(docker): updated docker base image (#1505)
  .markdownlint.json
  Dockerfile
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-618): update README.md
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-618): update prettierrc.json
  .prettierrc.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-618): readme, prettier updates (#1506)
  .prettierrc.json
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(deployment): node version
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-618): only run commit hooks on staged files
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-618): only run commit hooks on staged files (#1513)
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8069): add risk entity and classification for customer creation
  package-lock.json
  package.json
  src/constants/customers.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8069): unit test cases updated
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8069): add risk entity and classification for customers (#1514)
  package-lock.json
  package.json
  src/constants/customers.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.30.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.30.0 (#1515)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1518)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): get multiple business centres non working days
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/find-multiple-dom-business-centres-non-working-days-response.dto.ts
  src/modules/dom/dto/get-dom-business-centres-non-working-days-param.dto.ts
  src/modules/dom/dto/index.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): copy updates
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): update example constants
  src/constants/examples/examples.constant.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): rename dtos
  src/helpers/map-business-centre-non-working-days.ts
  src/helpers/map-business-centre.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/find-dom-business-centre-non-working-day-mapped-response.dto.ts
  src/modules/dom/dto/find-dom-business-centre-response.dto.ts
  src/modules/dom/dto/find-multiple-dom-business-centres-non-working-days-response.dto.ts
  src/modules/dom/dto/index.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): update snapshot
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): fix/update swagger documentation
  src/modules/dom/dto/find-multiple-dom-business-centres-non-working-days-response.dto.ts
  src/modules/dom/dto/get-dom-business-centres-non-working-days-param.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): remove commented code
  src/modules/dom/dto/get-dom-business-centres-non-working-days-param.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15118): get all product configurations
  .cspell.json
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  src/modules/dom/dto/get-dom-product-configuration-response.dto.ts
  src/modules/dom/dto/index.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom-product-configurations.api-test.ts
  tsconfig.build.json
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): improve test coverage
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15118): get all product configurations (#1529)
  .cspell.json
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  src/modules/dom/dto/get-dom-product-configuration-response.dto.ts
  src/modules/dom/dto/index.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom-product-configurations.api-test.ts
  tsconfig.build.json
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15203): get a product configuration
  src/constants/examples/examples.constant.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/find-dom-product-config-param.dto.ts
  src/modules/dom/dto/index.ts
  test/dom/dom-product-configurations.api-test.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15203): update product config json
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dom.service.test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): fix/update unit test
  src/modules/dom/dom.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15203): find a product configuration (#1530)
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/find-dom-product-config-param.dto.ts
  src/modules/dom/dto/index.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom-product-configurations.api-test.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1537)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15077): get multiple business calendar's non working days (#1528)
  src/constants/examples/examples.constant.ts
  src/helpers/map-business-centre-non-working-days.ts
  src/helpers/map-business-centre.ts
  src/helpers/map-business-centres.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/find-dom-business-centre-non-working-day-mapped-response.dto.ts
  src/modules/dom/dto/find-dom-business-centre-param.dto.ts
  src/modules/dom/dto/find-dom-business-centre-response.dto.ts
  src/modules/dom/dto/find-multiple-dom-business-centres-non-working-days-response.dto.ts
  src/modules/dom/dto/get-dom-business-centres-non-working-days-param.dto.ts
  src/modules/dom/dto/index.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
