Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

fix: small fixes
  package.json
  src/helpers/validate-ukef-id.helper.ts
  src/main.module.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/healthcheck/healthcheck.service.ts
  src/modules/markets/markets.service.ts
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.controller.ts
  tsconfig.eslint.json
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

fix: small fixes
  .cspell.json
  .lintstagedrc.json
  README.md
  tsconfig.json
Due: cspell lint ./src --no-must-find-files

fix: small fix
  .lintstagedrc.json
  package-lock.json
  package.json
Due: npx sort-package-json, cspell lint ./src --no-must-find-files

fix: delete out dir before compilation
  nest-cli.json
Due: cspell lint ./src --no-must-find-files

fix: small dictionary fix
  .cspell.json
Due: cspell lint ./src --no-must-find-files

fix: updated the documentation
  .env.sample
  README.md
Due: cspell lint ./src --no-must-find-files

feat: added `cspell`, custom paths, lint staged files & updated all npm packages (#11)
  .cspell.json
  .env.sample
  .eslintrc.js
  .eslintrc.json
  .husky/commit-msg
  .lintstagedrc.json
  README.md
  nest-cli.json
  package-lock.json
  package.json
  src/config/index.ts
  src/database/index.ts
  src/helpers/transform-interceptor.helper.ts
  src/helpers/validate-ukef-id.helper.ts
  src/main.module.ts
  src/main.ts
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/healthcheck/healthcheck.service.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.controller.ts
  src/modules/markets/markets.module.ts
  src/modules/markets/markets.service.ts
  src/modules/mdm.module.ts
  src/modules/numbers/dto/create-ukef-id.dto.ts
  src/modules/numbers/number-types.controller.ts
  src/modules/numbers/number-types.service.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/numbers/numbers.module.ts
  src/modules/numbers/numbers.service.ts
  src/swagger.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

feat: implement PR comment changes, request wrapper from dtfs project 'api', reusable app init
  e2e/jest-e2e.json
  package.json
  src/modules/markets/markets.service.ts
  test/api.js
  test/app.api-test.ts
  test/app.e2e-spec.ts
  test/createApp.ts
  test/jest.api-test.json
  test/markets/markets.api-test.ts
  test/markets/markets.e2e-spec.ts
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

fix: import cleanup
  src/modules/markets/markets.controller.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix: small fix
  package.json
Due: npx sort-package-json, cspell lint ./src --no-must-find-files

feat: added tests for GET `/markets` (#10)
  package.json
  src/config/app.config.ts
  src/database/mssql-cedar-database.module.ts
  src/database/mssql-cis-database.module.ts
  src/database/mssql-mdm-database.module.ts
  src/database/mssql-number-generator-database.module.ts
  src/modules/markets/dto/markets-query.dto.ts
  src/modules/markets/dto/query-param-active-enum.ts
  src/modules/markets/markets.controller.ts
  src/modules/markets/markets.service.ts
  test/api.js
  test/app.api-test.ts
  test/app.e2e-spec.ts
  test/createApp.ts
  test/jest.api-test.json
  test/markets/expected-responses/GET-markets-query-active-N.json
  test/markets/expected-responses/GET-markets-query-active-Y.json
  test/markets/expected-responses/GET-markets.json
  test/markets/markets.api-test.ts
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

fix: updated the healthcheck endpoints
  docker-compose.yml
  package-lock.json
  package.json
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/healthcheck/healthcheck.service.ts
  src/modules/markets/dto/markets-query.dto.ts
  src/modules/markets/dto/query-param-active-enum.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.controller.ts
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

chore: updated the `healthcheck` endpoints (#13)
  docker-compose.yml
  package-lock.json
  package.json
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/healthcheck/healthcheck.module.ts
  src/modules/healthcheck/healthcheck.service.ts
  src/modules/markets/dto/markets-query.dto.ts
  src/modules/markets/dto/query-param-active-enum.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/markets/markets.controller.ts
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

fix: added path aliasses to jest api tests, fixed spelling
  .cspell.json
  test/jest.api-test.json
  test/markets/expected-responses/GET-markets-query-active-N.json
  test/markets/expected-responses/GET-markets-query-active-Y.json
  test/markets/expected-responses/GET-markets.json
Due: cspell lint ./src --no-must-find-files

fix: added path aliases to jest api tests, fixed spelling (#14)
  .cspell.json
  test/jest.api-test.json
  test/markets/expected-responses/GET-markets-query-active-N.json
  test/markets/expected-responses/GET-markets-query-active-Y.json
  test/markets/expected-responses/GET-markets.json
Due: cspell lint ./src --no-must-find-files

feat: e2e tests for GET markets
  e2e/jest-e2e.json
  e2e/markets/expected-responses/GET-markets-query-active-N.json
  e2e/markets/expected-responses/GET-markets-query-active-Y.json
  e2e/markets/expected-responses/GET-markets.json
  test/app.e2e-spec.ts
  test/markets/markets.e2e-spec.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

feat: e2e test expected results WIP
  e2e/markets/expected-responses/GET-markets-query-active-N.json
  e2e/markets/expected-responses/GET-markets-query-active-Y.json
  e2e/markets/expected-responses/GET-markets.json
Due: cspell lint ./src --no-must-find-files

feat: number-generator e2e tests, WIP
  .cspell.json
  e2e/jest-e2e.json
  package.json
  src/database/mssql-cedar-database.module.ts
  src/database/mssql-cis-database.module.ts
  src/database/mssql-mdm-database.module.ts
  src/database/mssql-number-generator-database.module.ts
  src/helpers/validate-ukef-id.helper.ts
  src/modules/markets/entities/market.entity.ts
  src/modules/numbers/dto/create-ukef-id.dto.ts
  src/modules/numbers/dto/get-numbers-query.dto.ts
  src/modules/numbers/entities/number-type.entity.ts
  src/modules/numbers/entities/ukef-id.entity.ts
  src/modules/numbers/numbers.controller.ts
  src/modules/numbers/numbers.service.ts
  test/api.js
  test/api.ts
  test/app.api-test.ts
  test/app.e2e-spec.ts
  test/createApp.ts
  test/markets/expected-responses/GET-markets.json
  test/markets/markets.api-test.ts
  test/markets/markets.e2e-spec.ts
  test/numbers/expected-responses/GET-markets-query-active-N.json
  test/numbers/expected-responses/GET-markets.json
  test/numbers/expected-responses/GET-number-types.json
  test/numbers/expected-responses/GET-numbers-query-type-1-and-ukefId-0030581069.json
  test/numbers/numbers.api-test.ts
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

fix: simplify empty array check
  src/modules/numbers/numbers.controller.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

feat: added `/interest-rates` endpoint
  src/modules/interest-rates/entities/interest-rate.entity.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/interest-rates/interest-rates.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/mdm.module.ts
  tsconfig.json
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix: filter based on effectiveTo
  .cspell.json
  src/modules/interest-rates/entities/interest-rate.entity.ts
  src/modules/interest-rates/interest-rates.module.ts
  src/modules/interest-rates/interest-rates.service.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix: small linting fixes
  .eslintrc.json
  .gitignore
  package.json
  src/modules/interest-rates/interest-rates.controller.ts
  test/api.ts
  test/app.api-test.ts
  test/markets/markets.api-test.ts
  test/numbers/numbers.api-test.ts
  tsconfig.json
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

feat: added api-test
  test/interest-rates/interest-rates.api-test.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

chore(npm-update): Package update + NPM minimum version requirement
  package-lock.json
  package.json
Due: npx sort-package-json, cspell lint ./src --no-must-find-files

fix: removed the db reference
  src/modules/interest-rates/entities/interest-rate.entity.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

feat(API-82): Improved GHA
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.sh
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/sca.yml
Due: cspell lint ./src --no-must-find-files

feat: added unit test
  package-lock.json
  package.json
  src/modules/interest-rates/interest-rates.controller.spec.ts
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

feat(API-69): added `/interest-rates` endpoint (#17)
  .cspell.json
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  src/modules/interest-rates/entities/interest-rate.entity.ts
  src/modules/interest-rates/interest-rates.controller.spec.ts
  src/modules/interest-rates/interest-rates.controller.ts
  src/modules/interest-rates/interest-rates.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/mdm.module.ts
  test/api.ts
  test/app.api-test.ts
  test/interest-rates/interest-rates.api-test.ts
  test/markets/markets.api-test.ts
  test/numbers/numbers.api-test.ts
  tsconfig.json
Due: eslint --fix, npx sort-package-json, cspell lint ./src --no-must-find-files

feat(API-82): Code improvement
  .github/workflows/deploy.sh
Due: cspell lint ./src --no-must-find-files

feat(API-82): Improved GHA (#21)
  .github/workflows/dependency-review.yml
  .github/workflows/deploy.sh
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/sca.yml
Due: cspell lint ./src --no-must-find-files

fix: extra check DB response
  src/modules/numbers/numbers.service.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

feat: ensure new ids are in order
  src/modules/numbers/entities/ukef-id.entity.ts
  src/modules/numbers/numbers.service.spec.ts
  src/modules/numbers/numbers.service.ts
  test/numbers/numbers.api-test.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix: lint error
  test/numbers/numbers.api-test.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix: remove GET /number-types endpoint, its not used by clients
  src/modules/numbers/entities/number-type.entity.ts
  src/modules/numbers/number-types.controller.ts
  src/modules/numbers/number-types.service.ts
  src/modules/numbers/numbers.module.ts
  test/numbers/expected-responses/GET-number-types.json
  test/numbers/numbers.api-test.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix: removed GET `/number-types` endpoint (#25)
  src/modules/numbers/entities/number-type.entity.ts
  src/modules/numbers/number-types.controller.ts
  src/modules/numbers/number-types.service.ts
  src/modules/numbers/numbers.module.ts
  test/numbers/expected-responses/GET-number-types.json
  test/numbers/numbers.api-test.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix(POST-number--ids-should-be-sorted): Added npm ci beforing lint execution
  .github/workflows/lint.yml
Due: cspell lint ./src --no-must-find-files

feat: make api tests more generic
  test/markets/expected-responses/GET-markets-query-active-N.json
  test/markets/expected-responses/GET-markets-query-active-Y.json
  test/markets/expected-responses/GET-markets.json
  test/markets/markets.api-test.ts
  test/numbers/expected-responses/GET-markets-query-active-N.json
  test/numbers/expected-responses/GET-markets.json
  test/numbers/expected-responses/GET-numbers-query-type-1-and-ukefId-0030581069.json
  test/numbers/numbers.api-test.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

fix: remove duplicate checks
  test/markets/markets.api-test.ts
Due: eslint --fix, cspell lint ./src --no-must-find-files

Path conditions:
  eslint --fix: any of: *.ts
  npx sort-package-json: any of: package.json
  cspell lint ./src --no-must-find-files: any of: *
