Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19781): product configuration - update json, schema (#1682)
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/dom/dom-product-configurations.api-test.ts
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(19747-19751-19752): update product config
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19747): update product config examples
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19752): update product config
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19752): update constants, tests
  src/constants/examples/examples.constant.ts
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19752): fix/update unit test
  src/modules/dom/dom.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(19747-19751-19752): update product configuration (#1683)
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dom.service.test.ts
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): npm audit fix
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies (#1691)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19744): product configuration - accrual schedules
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/currencies/currencies.service.ts
  src/modules/dom/dto/get-dom-product-config-config-accrual-schedule.dto.ts
  src/modules/dom/dto/get-dom-product-config-config-fees.dto.ts
  src/modules/dom/dto/get-dom-product-config-config-lead-days.dto.ts
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19744): markups
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19744): markups
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dto/get-dom-product-config-accrual-schedule.dto.ts
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19744): update dtos
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19748): get ods accrual schedules - init setup
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.module.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19744): product configuration - accrual schedules (#1701)
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/currencies/currencies.service.ts
  src/modules/dom/dto/get-dom-product-config-accrual-schedule.dto.ts
  src/modules/dom/dto/get-dom-product-config-config-fees.dto.ts
  src/modules/dom/dto/get-dom-product-config-config-lead-days.dto.ts
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(releaseNotes): update publish.yml
  .github/workflows/publish.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(releaseNotes): update publish.yml (#1705)
  .github/workflows/publish.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(release): update github.yml
  .github/workflows/github.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20250): product config - base rates, additional rates
  .cspell.json
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20447): get a ukef industry code by companies house industry code
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/constants/industry-code.constant.ts
  src/custom-decorators/index.ts
  src/modules/mdm.module.ts
  src/modules/ukef-industry-code/dto/companies-house-industry-code-param.dto.ts
  src/modules/ukef-industry-code/dto/companies-house-industry-code-response.dto.ts
  src/modules/ukef-industry-code/dto/index.ts
  src/modules/ukef-industry-code/dto/ukef-industry-response.dto.ts
  src/modules/ukef-industry-code/entities/index.ts
  src/modules/ukef-industry-code/entities/ukef-industry-entity.ts
  src/modules/ukef-industry-code/ukef-industry-code.controller.test.ts
  src/modules/ukef-industry-code/ukef-industry-code.controller.ts
  src/modules/ukef-industry-code/ukef-industry-code.module.ts
  src/modules/ukef-industry-code/ukef-industry-code.service.ts
  test/ukef-industry-code/ukef-industry-code.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-20447): minor improvements
  src/modules/ods/ods.controller.test.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-20447): update UKEF ID instances
  src/constants/ukef-id.constant.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/numbers/numbers.service.test.ts
  src/modules/ods/dto/get-ods-customer-param.dto.ts
  src/modules/ods/dto/get-ods-deal-param.dto.ts
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  src/modules/premium-schedules/dto/get-premium-schedule-param.dto.ts
  src/modules/premium-schedules/entities/premium-schedule.entity.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20447): remove/address todo comments
  src/modules/ukef-industry-code/entities/ukef-industry-entity.ts
  test/ukef-industry-code/ukef-industry-code.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20250): product configuration - base rates, additional rates (#1711)
  .cspell.json
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20447): markups
  src/custom-decorators/index.ts
  src/modules/numbers/numbers.service.test.ts
  src/modules/ukef-industry-code/ukef-industry-code.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(release): update sca.yml
  .github/workflows/sca.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20447): get a UKEF industry code from Companies House industry code (#1713)
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/constants/industry-code.constant.ts
  src/constants/ukef-id.constant.ts
  src/custom-decorators/index.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/mdm.module.ts
  src/modules/numbers/numbers.service.test.ts
  src/modules/ods/dto/get-ods-customer-param.dto.ts
  src/modules/ods/dto/get-ods-deal-param.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  src/modules/premium-schedules/dto/get-premium-schedule-param.dto.ts
  src/modules/premium-schedules/entities/premium-schedule.entity.ts
  src/modules/premium-schedules/premium-schedules.controller.ts
  src/modules/ukef-industry-code/dto/companies-house-industry-code-param.dto.ts
  src/modules/ukef-industry-code/dto/companies-house-industry-code-response.dto.ts
  src/modules/ukef-industry-code/dto/index.ts
  src/modules/ukef-industry-code/dto/ukef-industry-response.dto.ts
  src/modules/ukef-industry-code/entities/index.ts
  src/modules/ukef-industry-code/entities/ukef-industry-entity.ts
  src/modules/ukef-industry-code/ukef-industry-code.controller.test.ts
  src/modules/ukef-industry-code/ukef-industry-code.controller.ts
  src/modules/ukef-industry-code/ukef-industry-code.module.ts
  src/modules/ukef-industry-code/ukef-industry-code.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/ukef-industry-code/ukef-industry-code.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-20687): product configuration - remove example products
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-20687): fix/update unit test
  src/modules/dom/dom.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-20687): product configuration - remove example products (#1723)
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dom.service.test.ts
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19748): get all accrual schedules
  src/constants/examples/examples.constant.ts
  src/helpers/index.ts
  src/helpers/map-accrual-schedule.test.ts
  src/helpers/map-accrual-schedule.ts
  src/helpers/map-accrual-schedules.test.ts
  src/helpers/map-accrual-schedules.ts
  src/modules/ods/dto/get-accrual-schedule-ods-response.dto.ts
  src/modules/ods/dto/get-accrual-schedule-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods-accruals.service.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.module.ts
  src/modules/ods/ods.service.ts
  src/typings/index.ts
  test/ods/ods.accrual-schedules.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19748): find an accrual schedule
  src/constants/examples/examples.constant.ts
  src/modules/ods/dto/get-ods-accrual-schedule-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods-accruals.service-findSchedule.test.ts
  src/modules/ods/ods-accruals.service-getSchedules.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.accrual-schedules.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19748): address todo comment
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service-findDeal.test.ts
  src/modules/ods/ods.service-findUkefIndustry.test.ts
  src/modules/ods/ods.service-getUkefIndustries.test.ts
  src/modules/ods/ods.service-getUkefIndustryCodes.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19748): create ods stored procedure service
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.service.test.ts
  src/modules/ods/ods-accruals.service-findSchedule.test.ts
  src/modules/ods/ods-accruals.service-getSchedules.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods-stored-procedure.service.test.ts
  src/modules/ods/ods-stored-procedure.service.ts
  src/modules/ods/ods.module.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service-findDeal.test.ts
  src/modules/ods/ods.service-findUkefIndustry.test.ts
  src/modules/ods/ods.service-getUkefIndustries.test.ts
  src/modules/ods/ods.service-getUkefIndustryCodes.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19748): address todo comment
  src/modules/ods/ods.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19748): fix/update modules after refactor
  src/modules/dom/dom.module.ts
  src/modules/ods/dto/get-ods-accrual-schedule-param.dto.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods-accruals.service-findSchedule.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-20884): product config - remove facility category types from bss
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-20884): product config - BSS facility category types (#1733)
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
