Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

feat: update direct get dtos
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/get-customers-direct-response.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/salesforce/dto/get-customers-salesforce-response.dto.ts
  src/modules/salesforce/salesforce.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update tests
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/salesforce/salesforce.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: mock salesforce response correctly
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update snapshot
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: return created customer after creation and update error handling
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.ts
  src/modules/salesforce/known-errors.ts
  src/modules/salesforce/salesforce.service.ts
  src/modules/salesforce/wrap-salesforce-http-error-callback.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: generate PartyURN before POSTing
  src/modules/customers/customers.module.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/numbers/dto/get-numbers-query.dto.ts
  src/modules/numbers/numbers.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

comment: add comment
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(dependencies): bump
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(dependencies): bump
  .github/dependabot.yml
  .husky/commit-msg
  .husky/pre-commit
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(dependencies): bump
  .gitignore
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(dependency): dependencies update (#1040)
  .github/dependabot.yml
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(dependencies): bump
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(dependencies): bump
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.6
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(DTFS2-7590): updated documentation
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.6 (#1052)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat: wip post request
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update customer service tests
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: continue mocking full customer creation
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: dummy customer creation endpoint
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: use custom create customer reopnse dto
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.ts
  src/modules/salesforce/dto/create-customer-salesforce-response.dto.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: return 404 when no customer found
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: add direct salesforce GET as agreed with data team
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/get-customers-direct-response.dto.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: prepare for DnB integration
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/company-registration-number.dto.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: wip post request
  docker-compose.yml
  src/config/index.ts
  src/config/salesforce.config.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: cleanup
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: redact sensitive salesforce api data
  src/logging/log-keys-to-redact.ts
  src/main.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: wip add salesforce service and module bypassing self-signed issue for now, using informatica config template
  src/modules/customers/customers.module.ts
  src/modules/customers/customers.service.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: use isarray in dto
  src/modules/salesforce/dto/create-customer-salesforce-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update customer controller tests
  src/modules/customers/customers.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: fix typo
  src/logging/log-keys-to-redact.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: minimal sf post
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: add custom sf error objects
  src/modules/salesforce/exception/salesforce.exception.ts
  src/modules/salesforce/salesforce.service.ts
  src/modules/salesforce/wrap-salesforce-http-error-callback.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: dummy post request
  src/modules/http/http.client.ts
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files
