Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

chore(deps): docker node update
  Dockerfile
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): docker node update (#330)
  Dockerfile
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(dockerfile): version updates
  Dockerfile
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(dockerfile): version updates (#332)
  Dockerfile
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): change how string redaction helper is called
  src/constants/redact-strings.constant.ts
  src/helpers/redact-errors.helper.test.ts
  src/helpers/redact-errors.helper.ts
  src/logging/log-keys-to-redact.test.ts
  src/main.module.ts
  src/modules/constants/constants.service.ts
  src/modules/currencies/currencies.service.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/markets.service.ts
  src/modules/numbers/numbers.service.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  src/modules/sector-industries/sector-industries.service.ts
  src/modules/yield-rates/yield-rates.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): changed redaction in crashed bootstrap and changed redaction in recovered bootstrap
  src/constants/redact-strings-paths.constant.ts
  src/helpers/redact-strings-in-log-args.helper.test.ts
  src/helpers/redact-strings-in-log-args.helper.ts
  src/logging/console-logger-with-redact.ts
  src/main.module.ts
  src/main.ts
  src/modules/markets/markets.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): unit test for logger class ConsoleLoggerWithRedact
  src/helpers/redact-strings-in-log-args.helper.test.ts
  src/logging/console-logger-with-redact.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): use process variable to enable/disable redacting at bootstrap
  src/logging/console-logger-with-redact.ts
  src/main.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): added test to redact using regex in 'redactStringsInLogArgs'
  src/helpers/redact-strings-in-log-args.helper.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(acr): rectified repo name
  .github/workflows/deploy.sh
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): ACR (#343)
  .github/workflows/deploy.sh
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  .github/dependabot.yml
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(gitignore): added env* to gitignore
  .gitignore
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#350)
  .github/dependabot.yml
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  .gitignore
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): fix 2 PR feedback items, change comment and var type
  src/helpers/redact-strings-in-log-args.helper.ts
  src/main.module.ts
  src/main.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-468): change how integer config values are parsed
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/config/informatica.config.ts
  src/helpers/get-int-config.ts
  test/common-tests/environment-variable-parsing-unit-tests.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-468): copying missed unit test for get-int-config helper
  src/helpers/get-int-config.helper.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(apim-538): add environment variable & test
  .env.sample
  package-lock.json
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/main.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-538): revert package lock to main
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-538): update single line env var to boolean, add test env var
  src/main.module.ts
  test/support/environment-variables.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(apim-538): add environment variable for log format (#337)
  .env.sample
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/main.module.ts
  test/support/environment-variables.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-468): renaming section in unit test
  src/helpers/get-int-config.helper.test.ts
  src/helpers/regex.helper.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-468): removed undefined return var type
  src/helpers/get-int-config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(gitignore): change env* to env.prod
  .gitignore
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(env): added missing environment variables
  .env.sample
  .github/workflows/deployment.yml
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(gitignore): environment variable introduction (#364)
  .env.sample
  .github/workflows/deployment.yml
  .gitignore
  docker-compose.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(apim-538): update single line log format env var
  src/main.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-538): update single line log format env var (#365)
  src/main.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-582): remove unused endpoint GET /constants/spi
  jest.config.ts
  src/modules/constants/constants.controller.test.ts
  src/modules/constants/constants.controller.ts
  src/modules/constants/constants.module.ts
  src/modules/constants/constants.service.ts
  src/modules/constants/dto/get-constants-spi-query.dto.ts
  src/modules/constants/entities/constants-spi.entity.ts
  src/modules/mdm.module.ts
  test/constants/constants.spi.api-test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(premium-schedule): added 0 and 4 as acceptable inputs
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(premium-schedule): added 0 and 4 as acceptable inputs (#440)
  src/modules/premium-schedules/dto/create-premium-schedule.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/premium-schedules/premium-schedules.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(spellcheck): added spellcheck to the pipeline
  .github/workflows/sca.yml
  .lintstagedrc.json
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(package): remove frivolous scripts
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(spellcheck): added spellcheck to the pipeline (#511)
  .github/workflows/sca.yml
  .lintstagedrc.json
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(ami): migration to Azure AMI
  .env.sample
  .github/workflows/deployment.yml
  docker-compose.yml
  package-lock.json
  package.json
  src/config/database.config.ts
  src/constants/redact-strings.constant.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files
