Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

fix(env): updated .env.sample
  .env.sample
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(ami): migration to Azure AMI (#514)
  .env.sample
  .github/workflows/deployment.yml
  docker-compose.yml
  package-lock.json
  package.json
  src/config/database.config.ts
  src/constants/redact-strings.constant.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(env-sample): env sample extra CRLF removed
  .env.sample
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(env): updated `.env.sample` (#516)
  .env.sample
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(format): formatting fixes
  .github/workflows/README.md
  .github/workflows/deployment.yml
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(format): Formatting fixes (#517)
  .github/workflows/README.md
  .github/workflows/deployment.yml
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(release): release version manager (#532)
  .github/workflows/publish.yml
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(package): fixed package.json
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(template): pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(tsconfig): fixed tsconfig file
  package-lock.json
  package.json
  tsconfig.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(tsconfig): tsconfig file fix
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(ci): run ci with legacy-peer-deps argument
  tsconfig.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(release-please-v4): updated release-please to v4
  .github/workflows/publish.yml
  .release-please-manifest.json
  README.md
  package-lock.json
  release-please-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(release-please-v4): updated release-please to v4 #491 (#688)
  .github/workflows/publish.yml
  .release-please-manifest.json
  README.md
  package-lock.json
  release-please-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(release-please-version): set version to v1.17.0
  .release-please-manifest.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(release-please-version): set version to v1.17.0 (#689)
  .release-please-manifest.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): new API modules and endpoint /api/v1/geospatial/addresses/postcode?postcode=W1A1AA
  .cspell.json
  .env.sample
  src/config/index.ts
  src/config/ordnance-survey.config.test.ts
  src/config/ordnance-survey.config.ts
  src/helper_modules/ordnance-survey/dto/get-addresses-response.dto.ts
  src/helper_modules/ordnance-survey/dto/get-search-postcode-query.dto.ts
  src/helper_modules/ordnance-survey/examples/example-response-for-search-places-v1-postcode-no-results.json
  src/helper_modules/ordnance-survey/examples/example-response-for-search-places-v1-postcode.json
  src/helper_modules/ordnance-survey/exception/ordnance-survey.exception.test.ts
  src/helper_modules/ordnance-survey/exception/ordnance-survey.exception.ts
  src/helper_modules/ordnance-survey/known-errors.ts
  src/helper_modules/ordnance-survey/ordnance-survey.module.ts
  src/helper_modules/ordnance-survey/ordnance-survey.service.test.ts
  src/helper_modules/ordnance-survey/ordnance-survey.service.ts
  src/helper_modules/ordnance-survey/wrap-ordnance-survey-http-error-callback.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): new module geospatial
  src/modules/geospatial/dto/get-address-by-postcode-query.dto.ts
  src/modules/geospatial/dto/get-search-addresses-response.dto.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/geospatial/geospatial.module.ts
  src/modules/geospatial/geospatial.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): fixed lint errors
  .eslintrc.json
  jest.config.ts
  src/helper-modules/ordnance-survey/dto/get-addresses-response.dto.ts
  src/helper-modules/ordnance-survey/dto/get-search-postcode-query.dto.ts
  src/helper-modules/ordnance-survey/examples/example-response-for-search-places-v1-postcode-no-results.json
  src/helper-modules/ordnance-survey/examples/example-response-for-search-places-v1-postcode.json
  src/helper-modules/ordnance-survey/exception/ordnance-survey.exception.test.ts
  src/helper-modules/ordnance-survey/exception/ordnance-survey.exception.ts
  src/helper-modules/ordnance-survey/known-errors.ts
  src/helper-modules/ordnance-survey/ordnance-survey.module.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.test.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.ts
  src/helper-modules/ordnance-survey/wrap-ordnance-survey-http-error-callback.ts
  src/helper_modules/ordnance-survey/dto/get-addresses-response.dto.ts
  src/modules/geospatial/dto/get-address-by-postcode-query.dto.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/geospatial/geospatial.service.ts
  src/modules/mdm.module.ts
  tsconfig.json
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): adding constants and examples
  src/constants/enums.ts
  src/constants/enums/geospatial.ts
  src/constants/geospatial.constant.ts
  src/constants/index.ts
  src/helper-modules/ordnance-survey/known-errors.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.test.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.ts
  src/modules/geospatial/dto/get-address-by-postcode-query.dto.ts
  src/modules/geospatial/dto/get-search-addresses-response.dto.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/geospatial/geospatial.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): adding typescript include for json files, to satify lint. I added big examples to json files
  tsconfig.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): trying to automate husky run on commit
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): change husky install to same way as in DTFS project
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): work in progress of geospatial-get-address api tests
  src/helper-modules/ordnance-survey/dto/get-addresses-ordnance-survey-response.dto.ts
  src/helper-modules/ordnance-survey/dto/get-search-postcode-ordnance-survey-query.dto.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.ts
  src/modules/geospatial/dto/get-addresses-response.dto.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/geospatial/geospatial.service.ts
  test/geospatial/get-address-by-postcode.api-test.ts
  test/support/generator/get-geospatial-addresses-generator.ts
  test/support/generator/random-value-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): package update
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): api-tests for geospatial/get-address-by-postcode
  src/helper-modules/ordnance-survey/dto/ordnance-survey-auth-error-response.dto.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.ts
  src/modules/geospatial/geospatial.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/geospatial/get-address-by-postcode.api-test.ts
  test/support/api.ts
  test/support/environment-variables.ts
  test/support/generator/get-geospatial-addresses-generator.ts
  test/support/generator/random-value-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): refactor api tests to match TFS and solve type issues
  test/api.ts
  test/app.api-test.ts
  test/createApp.ts
  test/currencies/currencies.api-test.ts
  test/exposure-period/exposure-period.api-test.ts
  test/interest-rates/interest-rates.api-test.ts
  test/markets/markets.api-test.ts
  test/numbers/numbers.api-test.ts
  test/premium-schedules/premium-schedules.api-test.ts
  test/sector-industries/sector-industries.api-test.ts
  test/support/api.ts
  test/yield-rates/yield-rates.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): tests for ordnance survey API endpoint
  src/modules/geospatial/geospatial.controller.test.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/geospatial/geospatial.service.test.ts
  src/modules/geospatial/geospatial.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/geospatial/get-address-by-postcode.api-test.ts
  test/support/generator/get-geospatial-addresses-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): fix address line 1 formating
  src/modules/geospatial/geospatial.service.test.ts
  src/modules/geospatial/geospatial.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): spelling fix
  src/modules/geospatial/geospatial.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): adding new dependency package notifications-node-client
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): fix lint dependency
  .eslintrc.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): renaming enums/geospatial.ts to enums/geospatialCountries.ts
  src/constants/enums.ts
  src/constants/enums/geospatialCountries.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): a lot of functionality for sending emails and tests
  .cspell.json
  .eslintrc.json
  jest.config.ts
  package-lock.json
  package.json
  src/helper-modules/govuk-notify/dto/post-email-request.dto.ts
  src/helper-modules/govuk-notify/dto/post-email-response.dto.ts
  src/helper-modules/govuk-notify/examples/example-response-for-send-email.json
  src/helper-modules/govuk-notify/govuk-notify.module.ts
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/helper-modules/govuk-notify/known-errors.ts
  src/modules/emails/emails.controller.test.ts
  src/modules/emails/emails.controller.ts
  src/modules/emails/emails.module.ts
  src/modules/emails/emails.service.test.ts
  src/modules/emails/emails.service.ts
  src/modules/mdm.module.ts
  test/api.ts
  test/common-tests/request-field-validation-api-tests/email-address-field-validation-api-tests.ts
  test/common-tests/request-field-validation-api-tests/string-field-validation-api-tests.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/emails/post-emails.api-test.ts
  test/support/api.ts
  test/support/generator/post-emails-generator.ts
  test/support/generator/random-value-generator.ts
  test/support/helpers/request-field-validation-helper.ts
  tsconfig.json
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files
