Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

fix(GIFT-15077): empty centre codes param
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-business-centres-non-working-days-param.dto.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(15077): update api tests
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-15077): fix typo
  src/modules/dom/dom.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-15077): update api tests
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-15077): update validation rule
  src/modules/dom/dto/get-dom-business-centres-non-working-days-param.dto.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-15077): multiple business centres - empty centre codes param (#1538)
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-business-centres-non-working-days-param.dto.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies (#1540)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15119): get multiple product configs by product type
  package.json
  src/constants/examples/examples.constant.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/find-dom-product-config-param.dto.ts
  src/modules/dom/dto/find-dom-product-configs-param.dto.ts
  src/modules/dom/dto/find-multiple-dom-product-configs-response.dto.ts
  src/modules/dom/dto/get-dom-business-centre-non-working-days-param.dto.ts
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  src/modules/dom/dto/index.ts
  test/dom/dom-product-configurations.api-test.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15119): naming/test improvements
  src/modules/dom/dom.controller.ts
  src/modules/dom/dto/find-dom-business-centre-non-working-days-param.dto.ts
  src/modules/dom/dto/index.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15119): revert package.json change
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15119): fix typo
  src/modules/dom/dom.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-15119): get multiple product configs by product type (#1541)
  src/constants/examples/examples.constant.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/find-dom-business-centre-non-working-days-param.dto.ts
  src/modules/dom/dto/find-dom-product-config-param.dto.ts
  src/modules/dom/dto/find-dom-product-configs-param.dto.ts
  src/modules/dom/dto/find-multiple-dom-product-configs-response.dto.ts
  src/modules/dom/dto/get-dom-product-config-config.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  src/modules/dom/dto/index.ts
  test/dom/dom-product-configurations.api-test.ts
  test/dom/dom.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-619): updated Informatica API centre URL
  package-lock.json
  package.json
  src/modules/informatica/informatica.service.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-619): updated endpoint for test
  src/modules/informatica/informatica.service.test.ts
  test/customers/post-customers.api-test.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-619): updated Informatica API centre URL (#1548)
  package-lock.json
  package.json
  src/modules/informatica/informatica.service.test.ts
  src/modules/informatica/informatica.service.ts
  test/customers/post-customers.api-test.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.31.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.31.0 (#1549)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(merge): fix merge issue
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(merge): fix merge issue
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(merge): merge main into feat/FN-3543/integrate-with-ods (#1571)
  .github/actions/acr/action.yml
  .github/actions/notify/action.yml
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  .gitignore
  .markdownlint.json
  .markdownlintignore
  .prettierrc.json
  .release-please-manifest.json
  CHANGELOG.md
  Dockerfile
  README.md
  package-lock.json
  package.json
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  src/modules/informatica/informatica.service.test.ts
  src/modules/informatica/informatica.service.ts
  src/modules/salesforce/salesforce.service.ts
  test/customers/post-customers.api-test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3543): simplify yml files
  .github/workflows/deployment.yml
  .github/workflows/test.yml
  .gitignore
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-3543): simplify yml files
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.32.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.32.0 (#1584)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1587)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-14047): product configuration - lead days support
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-14047): product configuration - lead days support (#1589)
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.33.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.33.0 (#1590)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(docs): update README.md
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(docs): update README.md (#1596)
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies (#1612)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1648)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(18410): product configuration - update accounts
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files
