Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(major-17-all): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.27.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(chore): dependencies updates
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(chore): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.27.1 (#1472)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): get dom business centre non working days
  src/constants/dom.constant.ts
  src/constants/ods.constant.ts
  src/helpers/map-business-centre-non-working-days.test.ts
  src/helpers/map-business-centre-non-working-days.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
  src/modules/dom/dto/get-dom-business-centre-non-working-day-mapped-response.dto.ts
  src/modules/dom/dto/get-dom-business-centre-non-working-days-param.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): write additional fields to salesforce:
  package-lock.json
  package.json
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): write additional fields to salesforce
  src/modules/customers/dto/dtfs-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): update api tests
  test/dom/dom.business-centres.api-test.ts
  test/ods/ods.business-centres.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): remove ods endpoint
  src/modules/ods/dto/get-ods-business-centre-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): resolved type errors
  package-lock.json
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): resolved type errors
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): update dom service
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.service.test.ts
  src/modules/dom/dom.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): align documentation
  src/constants/ods.constant.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/helpers/map-business-centre-non-working-days.ts
  src/helpers/regex.helper.ts
  src/modules/dom/dom.service.ts
  src/modules/emails/emails.controller.ts
  src/modules/emails/emails.service.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-13654): centralised, aligned constant examples
  src/constants/business-centre.constant.ts
  src/constants/companies.constant.ts
  src/constants/customers.constant.ts
  src/constants/deals.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/geospatial.constant.ts
  src/constants/govuk-notify.constant.ts
  src/constants/index.ts
  src/helper-modules/govuk-notify/dto/post-emails-response.dto.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.test.ts
  src/modules/companies/dto/get-company-by-registration-number-query.dto.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/dom/dto/get-dom-business-centre-non-working-day-mapped-response.dto.ts
  src/modules/dom/dto/get-dom-business-centre-non-working-days-param.dto.ts
  src/modules/dom/dto/get-dom-business-centre-param.dto.ts
  src/modules/dom/dto/get-dom-business-centre-response.dto.ts
  src/modules/emails/dto/post-emails-request.dto.ts
  src/modules/geospatial/dto/get-addresses-by-postcode-query.dto.ts
  src/modules/geospatial/dto/get-addresses-response.dto.ts
  src/modules/geospatial/geospatial.controller.test.ts
  src/modules/ods/dto/get-ods-business-centre-mapped-response.dto.ts
  src/modules/ods/dto/get-ods-business-centre-non-working-day-response.dto.ts
  src/modules/ods/dto/get-ods-business-centre-response.dto.ts
  src/modules/ods/dto/get-ods-customer-param.dto.ts
  src/modules/ods/dto/get-ods-deal-param.dto.ts
  src/modules/ods/dto/get-ods-deal-response.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service.test.ts
  src/modules/salesforce/salesforce.service.test.ts
  test/geospatial/get-address-by-postcode.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-13654): centralised, aligned constant examples
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.service.test.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): remove unused dtos
  src/modules/ods/dto/get-ods-business-centre-mapped-response.dto.ts
  src/modules/ods/dto/get-ods-business-centre-response.dto.ts
  src/modules/ods/dto/index.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): improve type safety
  src/helpers/map-business-centre-non-working-days.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-13654): fix/update unit test
  src/modules/ods/ods.service-findDeal.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): updated salesforce payload
  package-lock.json
  package.json
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  src/modules/salesforce/salesforce.service.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): fixed unit test cases
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/get-customers-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8015): fixed test cases
  package-lock.json
  package.json
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8015): fixed test cases
  src/modules/salesforce/salesforce.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8015): fixed test cases
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): test documentation
  package-lock.json
  package.json
  src/modules/customers/customers.service.test.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): added examples to request and repsonses dto
  src/constants/customers.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
  test/customers/get-customers.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): updated snapshot
  README.md
  package.json
  src/constants/examples/examples.constant.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): updated snapshot
  README.md
  src/modules/customers/dto/dtfs-customer.dto.ts
  test/customers/post-customers.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): added api test
  src/modules/customers/dto/create-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): lint fixes
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-8059): salesforce customer creation with additional fields (#1482)
  README.md
  package-lock.json
  package.json
  src/constants/customers.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
  src/modules/salesforce/salesforce.service.ts
  test/customers/get-customers.api-test.ts
  test/customers/post-customers.api-test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.28.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.28.0 (#1473)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-617): markdown linting
  .github/workflows/lint.yml
  .markdownlint.json
  .markdownlintignore
  .prettierrc.json
  README.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-617): update lint.yml
  .github/workflows/lint.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-617): markdown linting
  .markdownlint.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
