Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

feat(DTFS2-7052): change GET /geospatial/addresses/postcode?postcode= empty response from 200 to 404
  src/constants/geospatial.constant.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.test.ts
  src/modules/geospatial/dto/get-addresses-by-postcode-query.dto.ts
  src/modules/geospatial/dto/get-addresses-response.dto.ts
  src/modules/geospatial/geospatial.controller.test.ts
  src/modules/geospatial/geospatial.controller.ts
  src/modules/geospatial/geospatial.service.test.ts
  src/modules/geospatial/geospatial.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/exposure-period/exposure-period.api-test.ts
  test/geospatial/get-address-by-postcode.api-test.ts
  test/support/generator/get-geospatial-addresses-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): changed numeric status code 200 to HttpStatus.OK, but just in controller
  src/modules/geospatial/geospatial.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): changed documentation for .env setting ORDNANCE_SURVEY_URL
  .env.sample
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7052): tidying up map function
  src/modules/geospatial/geospatial.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): extra tests for edge cases, when request body is empty
  src/modules/emails/dto/post-emails-request.dto.ts
  src/modules/emails/emails.controller.test.ts
  src/modules/emails/emails.controller.ts
  src/modules/emails/emails.service.test.ts
  test/emails/post-emails.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): updating api snapshot
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#844)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(github-actions): enable various imperative github actions
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/sca.yml
  .husky/pre-commit
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(github-actions): prettier command
  .github/workflows/lint.yml
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(github-actions): enable various imperative github actions
  .github/workflows/github.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): removing dependency 'escape-string-regexp'
  package-lock.json
  package.json
  test/emails/post-emails.api-test.ts
  test/support/generator/post-emails-generator.ts
  test/support/generator/random-value-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): changed POST mail response description
  src/helper-modules/govuk-notify/dto/post-emails-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): added 500 exception to GOVUK Notify service
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): tests improvements, added logger for Gov.uk Notify errors, etc
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/modules/emails/emails.controller.test.ts
  test/emails/post-emails.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): added exception types to function signatures
  src/modules/emails/emails.controller.ts
  src/modules/emails/emails.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(github): fixed github actions
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .prettierignore
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(github): fixed github actions
  .github/workflows/lint.yml
  .github/workflows/pr.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(github-actions): fixed documentation
  .github/workflows/lint.yml
  .prettierignore
Due: cspell lint --no-summary --no-progress --no-must-find-files

docs(EMS-3373): updated documentation
  .github/workflows/lint.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(github-actions): enable various imperative github actions (#847)
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/infrastructure.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/publish.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .prettierignore
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): various PR fixes
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/modules/emails/emails.controller.ts
  src/modules/emails/emails.service.test.ts
  src/modules/emails/emails.service.ts
  test/common-tests/request-field-validation-api-tests/email-address-field-validation-api-tests.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/emails/post-emails.api-test.ts
  test/support/helpers/request-field-validation-helper.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): added jsdoc to describe function exception list using throws
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/modules/emails/emails.controller.ts
  src/modules/emails/emails.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): added type and return type to test helper prepareModifiedRequest
  test/common-tests/request-field-validation-api-tests/email-address-field-validation-api-tests.ts
  test/common-tests/request-field-validation-api-tests/object-field-validation-api-tests.ts
  test/common-tests/request-field-validation-api-tests/partials/require-validation.ts
  test/common-tests/request-field-validation-api-tests/partials/type-validation.ts
  test/common-tests/request-field-validation-api-tests/string-field-validation-api-tests.ts
  test/support/api.ts
  test/support/helpers/request-field-validation-helper.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(DTFS2-7049): unit test for test helper prepareModifiedRequest
  test/support/helpers/request-field-validation-helper.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

Apply suggestions from code review
  src/helper-modules/govuk-notify/dto/post-emails-response.dto.ts
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/modules/emails/dto/post-emails-request.dto.ts
  src/modules/emails/emails.controller.ts
  src/modules/emails/emails.service.ts
  test/common-tests/request-field-validation-api-tests/email-address-field-validation-api-tests.ts
  test/emails/post-emails.api-test.ts
  test/support/generator/random-value-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#887)
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): upgraded pino-http to v10
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.18.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.18.0 (#889)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): upgraded pino-http to v10
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(deps): upgrade pino-http to 10.0.0 (#888)
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.19.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(release-please): spelling fix
  CHANGELOG.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.19.0 (#890)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(release-please): changed to GitHub plugin
  .github/workflows/publish.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(release-please): changed to GitHub plugin (#891)
  .github/workflows/publish.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.20.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files
