Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

refactor: lint
  src/modules/customers/dto/dtfs-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-3163): add get or create customer endpoint (#1132)
  .cspell.json
  .env.sample
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  src/config/index.ts
  src/config/salesforce.config.test.ts
  src/config/salesforce.config.ts
  src/helpers/is-development.helper.test.ts
  src/helpers/is-development.helper.ts
  src/logging/log-keys-to-redact.test.ts
  src/logging/log-keys-to-redact.ts
  src/main.module.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.module.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/http/http.constants.ts
  src/modules/informatica/informatica.module.ts
  src/modules/numbers/dto/get-numbers-query.dto.ts
  src/modules/numbers/numbers.module.ts
  src/modules/salesforce/dto/create-customer-salesforce-response.dto.ts
  src/modules/salesforce/exception/salesforce.exception.test.ts
  src/modules/salesforce/exception/salesforce.exception.ts
  src/modules/salesforce/known-errors.ts
  src/modules/salesforce/salesforce.module.ts
  src/modules/salesforce/salesforce.service.test.ts
  src/modules/salesforce/salesforce.service.ts
  src/modules/salesforce/wrap-salesforce-http-error-callback.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/numbers/numbers.api-test.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.23.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.23.0 (#1131)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1155)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(dependabot): package lock updated
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat: add defaulted risk fields
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: add probability of default
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: add percentage field validation
  src/modules/customers/dto/create-customer.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: move date formatter to helper and test
  src/helpers/date-formatter.helper.test.ts
  src/helpers/date-formatter.helper.ts
  src/modules/customers/customers.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update tests
  src/modules/customers/customers.service.test.ts
  src/modules/salesforce/salesforce.service.test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update tests cont.
  src/modules/customers/customers.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update tests and misc refactoring
  src/constants/customers.constant.ts
  src/helpers/date-formatter.helper.test.ts
  src/helpers/date-formatter.helper.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-3664): add risk data to created customers (#1163)
  src/constants/customers.constant.ts
  src/helpers/date-formatter.helper.test.ts
  src/helpers/date-formatter.helper.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/create-customer.dto.ts
  src/modules/customers/dto/dtfs-customer.dto.ts
  src/modules/salesforce/salesforce.service.test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.24.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.24.0 (#1169)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-6804): extract database type to constant
  src/constants/database.constant.ts
  src/constants/index.ts
  src/modules/currencies/currencies.module.ts
  src/modules/currencies/currencies.service.ts
  src/modules/database/mssql-cedar-database.module.ts
  src/modules/database/mssql-cis-database.module.ts
  src/modules/database/mssql-mdm-database.module.ts
  src/modules/database/mssql-number-generator-database.module.ts
  src/modules/database/mssql-ods-database.module.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/healthcheck/healthcheck.controller.ts
  src/modules/interest-rates/interest-rates.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/markets.module.ts
  src/modules/markets/markets.service.ts
  src/modules/numbers/numbers.module.ts
  src/modules/numbers/numbers.service.ts
  src/modules/premium-schedules/premium-schedules.module.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  src/modules/sector-industries/sector-industries.module.ts
  src/modules/sector-industries/sector-industries.service.ts
  src/modules/yield-rates/yield-rates.module.ts
  src/modules/yield-rates/yield-rates.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-612): companies house - isActive field
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deployment): added missing enviornment variables
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deployment): added missing enviornment variables (#1183)
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(EMS-4134): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1186)
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-612): minor code improvement
  src/constants/companies.constant.ts
  src/modules/companies/companies.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: stop rejectunauthorized being set as false in development
  src/helpers/is-development.helper.test.ts
  src/helpers/is-development.helper.ts
  src/modules/informatica/informatica.module.ts
  src/modules/salesforce/salesforce.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-3163): remove local ssl workaround (#1188)
  src/helpers/is-development.helper.test.ts
  src/helpers/is-development.helper.ts
  src/modules/informatica/informatica.module.ts
  src/modules/salesforce/salesforce.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.25.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-612): companies house - isactive field (#1182)
  src/constants/companies.constant.ts
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.25.0 (#1189)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files
