Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

docs(cicd): updated documentation + deps bump (#220)
  .github/workflows/README.md
  .github/workflows/deploy.sh
  .github/workflows/deployment.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor(iac): iac
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

refactor(iac): Infrastructure + Deployment (#228)
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(remove-env): removed API_KEY_STRATEGY env variable
  .env.sample
  .github/workflows/deployment.yml
  README.md
  docker-compose.yml
  package-lock.json
  src/config/app.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(lint): lint error fixed
  src/config/app.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

docs(README): updated README
  README.md
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(remove-env): removed API_KEY_STRATEGY env variable (#229)
  .env.sample
  .github/workflows/deployment.yml
  README.md
  docker-compose.yml
  package-lock.json
  src/config/app.config.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(deployment): api import
  .github/workflows/deployment.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(deployment): api import (#237)
  .github/workflows/deployment.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): deployment
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): deployment (#238)
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): prod to production
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): multiple scope logins
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): code improvement (#250)
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): defaults before cli
  .github/workflows/deployment.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): deployment improvement (#255)
  .github/workflows/deployment.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): added custom dns for vnet
  .github/workflows/infrastructure.yml
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): code refactor
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): removed pr branch
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

fix(iac): added custom dns for vnet (#262)
  .github/workflows/infrastructure.yml
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-471): tests and changes for endpoint GET /customers
  jest.config.ts
  src/config/database.config.ts
  src/constants/enums/customer-subtypes.ts
  src/constants/enums/customer-types.ts
  src/main.module.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.controller.ts
  src/modules/customers/customers.service.test.ts
  src/modules/customers/customers.service.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/customers/dto/query-param-active-enum.ts
  src/modules/informatica/dto/get-customers-informatica-response.dto.ts
  src/modules/informatica/informatica.module.ts
  src/modules/informatica/informatica.service.test.ts
  src/modules/informatica/informatica.service.ts
  test/common-tests/client-authentication-api-tests.ts
  test/customers/get-customers.api-test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/docs/get-docs-yaml.api-test.ts
  test/setup/override-environment-variables.ts
  test/support/api.ts
  test/support/app.ts
  test/support/environment-variables.ts
  test/support/generator/abstract-generator.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-471): added new environment variables to docker files
  .github/workflows/deployment.yml
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-471): added constants for examples, + cleanup
  src/constants/customers.constant.ts
  src/constants/index.ts
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/customers/dto/get-customers-response.dto.ts
  src/modules/informatica/informatica.service.test.ts
  test/customers/get-customers.api-test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/support/api.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-471): cleanup, rename query var and other PR comments
  package-lock.json
  package.json
  src/modules/customers/customers.controller.test.ts
  src/modules/customers/customers.controller.ts
  src/modules/customers/dto/get-customers-query.dto.ts
  src/modules/informatica/dto/get-customers-informatica-query.dto.ts
  src/modules/informatica/informatica.service.test.ts
  test/customers/get-customers.api-test.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-471): added LOG_LEVEL env var to deployment and github files
  .github/workflows/deployment.yml
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-471): fixed informatica query
  src/modules/customers/customers.controller.ts
  src/modules/informatica/dto/get-customers-informatica-query.dto.ts
  src/modules/informatica/informatica.service.test.ts
  test/support/generator/get-customers-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(env): updated .env.sample
  .env.sample
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(env): environment variable update (#299)
  .env.sample
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-531): fix swagger regex field
  src/helpers/index.ts
  src/helpers/regex.helper.test.ts
  src/helpers/regex.helper.ts
  src/modules/customers/dto/get-customers-query.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-531): fix swagger regex field
  src/helpers/regex.helper.test.ts
  src/helpers/regex.helper.ts
  src/modules/customers/dto/get-customers-query.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix: fixed the `prettier` issue
  package-lock.json
  package.json
  src/helpers/regex.helper.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-531): fix swagger regex field (#300)
  package-lock.json
  package.json
  src/helpers/index.ts
  src/helpers/regex.helper.test.ts
  src/helpers/regex.helper.ts
  src/modules/customers/dto/get-customers-query.dto.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-531): fix swagger regex field
  src/helpers/regex.helper.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-531): fix swagger regex field (#313)
  src/helpers/regex.helper.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): add log redacting for bootstrap, PinoLogger and TypeOrm
  .env.sample
  .github/workflows/deployment.yml
  docker-compose.yml
  package-lock.json
  package.json
  src/config/app.config.test.ts
  src/config/app.config.ts
  src/constants/index.ts
  src/constants/redact-strings-paths.constant.ts
  src/constants/redact-strings.constant.ts
  src/helpers/redact-errors.helper.test.ts
  src/helpers/redact-errors.helper.ts
  src/logging/build-key-to-redact.test.ts
  src/logging/build-key-to-redact.ts
  src/logging/console-logger-with-redact.ts
  src/logging/log-keys-to-redact.test.ts
  src/logging/log-keys-to-redact.ts
  src/logging/logging-interceptor.helper.ts
  src/main.module.ts
  src/main.ts
  src/modules/constants/constants.service.ts
  src/modules/currencies/currencies.service.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/http/http.constants.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/markets.service.ts
  src/modules/numbers/numbers.service.test.ts
  src/modules/numbers/numbers.service.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  src/modules/sector-industries/sector-industries.service.ts
  src/modules/yield-rates/yield-rates.service.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-344): fix lint errors, some new issues and some are in the old code
  package-lock.json
  package.json
  src/constants/index.ts
  src/constants/redact-strings.constant.ts
  src/helpers/redact-errors.helper.test.ts
  src/helpers/redact-errors.helper.ts
  src/logging/console-logger-with-redact.ts
  src/logging/log-keys-to-redact.ts
  src/main.module.ts
  src/main.ts
  src/modules/auth/strategy/api-key.strategy.ts
  src/modules/constants/constants.service.ts
  src/modules/currencies/currencies.service.ts
  src/modules/exposure-period/exposure-period.service.ts
  src/modules/informatica/exception/informatica.exception.ts
  src/modules/informatica/informatica.module.ts
  src/modules/interest-rates/interest-rates.service.ts
  src/modules/markets/markets.service.ts
  src/modules/numbers/numbers.service.test.ts
  src/modules/numbers/numbers.service.ts
  src/modules/premium-schedules/premium-schedules.service.ts
  src/modules/sector-industries/sector-industries.service.ts
  src/modules/yield-rates/yield-rates.service.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files
