Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

feat(20897): update constants, dto
  src/constants/examples/examples.constant.ts
  src/modules/ods/dto/get-accrual-schedule-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20897): helper unit tests
  src/helpers/map-accrual-frequency.test.ts
  src/helpers/map-accrual-schedule.test.ts
  src/helpers/map-accrual-schedules.test.ts
  src/modules/ods/dto/get-accrual-schedule-base.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20897): remove todo comment
  src/modules/ods/ods-accrual-schedule.service-getAll.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20897): update documentation
  src/modules/ods/dto/ods-payloads.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20897): markups, fix unit tests
  src/constants/examples/examples.constant.ts
  src/helpers/map-accrual-frequencies.ts
  src/helpers/map-accrual-schedules.ts
  src/helpers/map-business-centres.ts
  src/helpers/map-counterparty-roles.ts
  src/helpers/map-industries.ts
  src/helpers/map-ods-classifications.ts
  src/modules/ods/dto/get-accrual-schedule-base.dto.ts
  src/modules/ods/dto/get-accrual-schedule-ods-response.dto.ts
  src/modules/ods/dto/get-accrual-schedule-response.dto.ts
  src/modules/ods/ods-accrual-schedule.service-findOne.test.ts
  src/modules/ods/ods-accrual-schedule.service-getAll.test.ts
  src/modules/ods/ods-accrual-schedule.service.ts
  test/ods/ods.accrual-schedules.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20897): get accrual schedules from ODS (#1773)
  src/constants/examples/examples.constant.ts
  src/helpers/index.ts
  src/helpers/map-accrual-frequencies.ts
  src/helpers/map-accrual-frequency.test.ts
  src/helpers/map-accrual-schedule.test.ts
  src/helpers/map-accrual-schedule.ts
  src/helpers/map-accrual-schedules.test.ts
  src/helpers/map-accrual-schedules.ts
  src/helpers/map-business-centres.ts
  src/helpers/map-counterparty-roles.ts
  src/helpers/map-industries.ts
  src/helpers/map-ods-classifications.ts
  src/modules/ods/dto/get-accrual-schedule-base.dto.ts
  src/modules/ods/dto/get-accrual-schedule-ods-response.dto.ts
  src/modules/ods/dto/get-accrual-schedule-response.dto.ts
  src/modules/ods/dto/get-ods-accrual-schedule-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods-accrual-schedule.service-findOne.test.ts
  src/modules/ods/ods-accrual-schedule.service-getAll.test.ts
  src/modules/ods/ods-accrual-schedule.service.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.module.ts
  test/ods/ods.accrual-schedules.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20051): get additional rates from ODS
  src/constants/examples/examples.constant.ts
  src/modules/ods/dto/get-accrual-schedule-classification-response.dto.ts
  src/modules/ods/dto/get-ods-accrual-schedule-classification-param.dto.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods-accruals.service-findScheduleClassification.test.ts
  src/modules/ods/ods-accruals.service-getScheduleClassifications.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  test/ods/ods.additional-rates.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20051): get base rates from ODS
  .cspell.json
  src/constants/examples/examples.constant.ts
  src/helpers/map-ods-classification.test.ts
  src/helpers/map-ods-classification.ts
  src/helpers/map-ods-classifications.test.ts
  src/helpers/map-ods-classifications.ts
  src/modules/ods/dto/get-accrual-schedule-classification-ods-response.dto.ts
  src/modules/ods/dto/get-accrual-schedule-classification-response.dto.ts
  src/modules/ods/dto/get-additional-rate-ods-response.dto.ts
  src/modules/ods/dto/get-additional-rate-response.dto.ts
  src/modules/ods/dto/get-base-rate-ods-response.dto.ts
  src/modules/ods/dto/get-base-rate-response.dto.ts
  src/modules/ods/dto/get-ods-accrual-schedule-classification-param.dto.ts
  src/modules/ods/dto/get-ods-additional-rate-param.dto.ts
  src/modules/ods/dto/get-ods-base-rate-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods-accruals.service-findScheduleClassification.test.ts
  src/modules/ods/ods-accruals.service-getScheduleClassifications.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  test/ods/ods.base-rates.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20051): fix typo
  src/modules/ods/ods-accruals.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(20051): markups
  src/constants/examples/examples.constant.ts
  src/constants/ods.constant.ts
  src/helpers/map-ods-classification.ts
  src/helpers/map-ods-classifications.ts
  src/modules/ods/dto/classification-ods.dto.ts
  src/modules/ods/dto/classification.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-21467): linting
  src/modules/ods/ods.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20051): markups
  src/modules/ods/ods-accruals.service-findScheduleClassification.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-20051): get additional and base rates from ODS (#1776)
  .cspell.json
  src/constants/examples/examples.constant.ts
  src/constants/ods.constant.ts
  src/helpers/map-ods-classification.test.ts
  src/helpers/map-ods-classification.ts
  src/helpers/map-ods-classifications.test.ts
  src/helpers/map-ods-classifications.ts
  src/modules/ods/dto/classification-ods.dto.ts
  src/modules/ods/dto/classification.dto.ts
  src/modules/ods/dto/get-accrual-schedule-classification-ods-response.dto.ts
  src/modules/ods/dto/get-accrual-schedule-classification-response.dto.ts
  src/modules/ods/dto/get-additional-rate-ods-response.dto.ts
  src/modules/ods/dto/get-additional-rate-response.dto.ts
  src/modules/ods/dto/get-base-rate-ods-response.dto.ts
  src/modules/ods/dto/get-base-rate-response.dto.ts
  src/modules/ods/dto/get-ods-accrual-schedule-classification-param.dto.ts
  src/modules/ods/dto/get-ods-additional-rate-param.dto.ts
  src/modules/ods/dto/get-ods-base-rate-param.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods-accruals.service-findScheduleClassification.test.ts
  src/modules/ods/ods-accruals.service-getScheduleClassifications.test.ts
  src/modules/ods/ods-accruals.service.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  test/ods/ods.additional-rates.api-test.ts
  test/ods/ods.base-rates.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-21467): markups
  src/modules/ods/dto/get-ods-ukef-industry-code-param.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findUkefIndustryCodeByCompaniesHouseCode.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-625): align import deployment step
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-625): markups
  .cspell.json
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-21467): get UKEF industry code by Companies House industry code (#1764)
  .gitignore
  CHANGELOG.md
  src/constants/companies-house.constant.ts
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/constants/industry-code.constant.ts
  src/constants/ukef-industry-code.constant.ts
  src/modules/mdm.module.ts
  src/modules/ods/dto/get-ods-ukef-industry-code-param.dto.ts
  src/modules/ods/dto/get-sic-code-to-ukef-industry-ods-response.dto.ts
  src/modules/ods/dto/get-sic-code-to-ukef-industry-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findUkefIndustryCodeByCompaniesHouseCode.test.ts
  src/modules/ods/ods.service.ts
  src/modules/ukef-industry-code/dto/companies-house-industry-code-response.dto.ts
  src/modules/ukef-industry-code/dto/index.ts
  src/modules/ukef-industry-code/dto/ukef-industry-response.dto.ts
  src/modules/ukef-industry-code/entities/index.ts
  src/modules/ukef-industry-code/entities/ukef-industry-entity.ts
  src/modules/ukef-industry-code/ukef-industry-code.controller.test.ts
  src/modules/ukef-industry-code/ukef-industry-code.controller.ts
  src/modules/ukef-industry-code/ukef-industry-code.module.ts
  src/modules/ukef-industry-code/ukef-industry-code.service.ts
  test/ods/ods.ukef-industries.api-test.ts
  test/ukef-industry-code/ukef-industry-code.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-21883): product config - remove obligation subtype OST007
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-21883): product config - remove obligation subtype OST007 (#1791)
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(APIM-625): align import deployment step (#1787)
  .cspell.json
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(22117): update companies house industry code validation
  src/constants/companies-house.constant.ts
  src/modules/ods/dto/get-ods-ukef-industry-code-param.dto.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-22117): markups
  src/constants/examples/examples.constant.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(22117): update companies house industry code validation (#1802)
  src/constants/companies-house.constant.ts
  src/constants/examples/examples.constant.ts
  src/modules/ods/dto/get-ods-ukef-industry-code-param.dto.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): npm audit fix
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  tsconfig.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): fix lint issue
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  test/emails/post-emails.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies (#1812)
  .github/workflows/deployment.yml
  .github/workflows/infrastructure.yml
  package-lock.json
  package.json
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  test/emails/post-emails.api-test.ts
  tsconfig.json
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-22117): get ukef industry code - legacy codes support
  src/constants/companies-house.constant.ts
  src/constants/companies.constant.ts
  src/constants/examples/examples.constant.ts
  src/modules/ods/dto/get-ods-ukef-industry-code-param.dto.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.service-findUkefIndustryCodeByCompaniesHouseCode.test.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-22117): fix typo
  src/modules/ods/ods.service-findUkefIndustryCodeByCompaniesHouseCode.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(GIFT-22117): get UKEF industry code - legacy codes support (#1815)
  src/constants/companies-house.constant.ts
  src/constants/companies.constant.ts
  src/constants/examples/examples.constant.ts
  src/modules/ods/dto/get-ods-ukef-industry-code-param.dto.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.service-findUkefIndustryCodeByCompaniesHouseCode.test.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-20039): removed if condition for Import job
  .github/workflows/deployment.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files
