Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

.lintstagedrc.json:

{
  "*.ts": ["eslint ./src --ext .ts --fix"],
  "package.json": ["sort-package-json"],
  "*": ["cspell lint --no-summary --no-progress --no-must-find-files"]
}

feat(18410): product configuration - update accounts (#1663)
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.34.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.34.0 (#1664)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(docs): add missing documentation
  src/modules/currencies/currencies.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-17018): credit risk ratings - find all
  src/constants/examples/examples.constant.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.test.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.module.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.service.ts
  src/modules/credit-risk-ratings/dto/credit-risk-rating.dto.ts
  src/modules/credit-risk-ratings/dto/index.ts
  src/modules/credit-risk-ratings/entities/credit-risk-rating.entity.ts
  src/modules/mdm.module.ts
  test/credit-risk-ratings/credit-risk-ratings.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-17018): readability improvement
  src/modules/credit-risk-ratings/credit-risk-ratings.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(GIFT-17018): unit test improvements
  src/modules/currencies/currencies.controller.test.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/ods/ods.service.test.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-17018): credit risk ratings - find all (#1665)
  src/constants/examples/examples.constant.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.test.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.module.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.service.ts
  src/modules/credit-risk-ratings/dto/credit-risk-rating.dto.ts
  src/modules/credit-risk-ratings/dto/index.ts
  src/modules/credit-risk-ratings/entities/credit-risk-rating.entity.ts
  src/modules/currencies/currencies.controller.test.ts
  src/modules/currencies/currencies.service.ts
  src/modules/exposure-period/exposure-period.controller.test.ts
  src/modules/interest-rates/interest-rates.controller.test.ts
  src/modules/mdm.module.ts
  src/modules/ods/ods.service.test.ts
  src/modules/premium-schedules/premium-schedules.controller.test.ts
  src/modules/sector-industries/sector-industries.controller.test.ts
  src/modules/yield-rates/yield-rates.controller.test.ts
  test/credit-risk-ratings/credit-risk-ratings.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(18724): move credit-risk-ratings to /v2/dom
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.test.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.module.ts
  src/modules/credit-risk-ratings/dto/index.ts
  src/modules/dom/credit-risk-ratings/credit-risk-ratings.service.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.module.ts
  src/modules/dom/dto/find-credit-risk-rating.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/dom/entities/credit-risk-rating.entity.ts
  src/modules/dom/entities/index.ts
  src/modules/mdm.module.ts
  test/dom/dom-credit-risk-ratings.api-test.ts
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(productConfig): account array as numbers instead of string
  src/helper-modules/dom/dom-product-config.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(18724): update dto
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(18724): fix type issue
  src/constants/examples/examples.constant.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(18724): move credit-risk-ratings to /v2/dom, update product config (#1667)
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.test.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.controller.ts
  src/modules/credit-risk-ratings/credit-risk-ratings.module.ts
  src/modules/credit-risk-ratings/dto/index.ts
  src/modules/dom/credit-risk-ratings/credit-risk-ratings.service.ts
  src/modules/dom/dom.controller.test.ts
  src/modules/dom/dom.controller.ts
  src/modules/dom/dom.module.ts
  src/modules/dom/dto/find-credit-risk-rating.dto.ts
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  src/modules/dom/dto/index.ts
  src/modules/dom/entities/credit-risk-rating.entity.ts
  src/modules/dom/entities/index.ts
  src/modules/mdm.module.ts
  test/dom/dom-credit-risk-ratings.api-test.ts
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.35.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.35.0 (#1666)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): ukef industry codes - get all
  src/constants/examples/examples.constant.ts
  src/helpers/index.ts
  src/helpers/map-business-centre.test.ts
  src/helpers/map-industries.test.ts
  src/helpers/map-industries.ts
  src/helpers/map-industry.test.ts
  src/helpers/map-industry.ts
  src/modules/dom/dom.service.ts
  src/modules/ods/dto/get-ods-industry-ods-response.dto.ts
  src/modules/ods/dto/get-ods-industry-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): ukef industry codes - find one
  src/helpers/map-industries.ts
  src/helpers/map-industry.ts
  src/modules/ods/dto/find-ods-industry-param.dto.ts
  src/modules/ods/dto/get-ods-industry-ods-response.dto.ts
  src/modules/ods/dto/get-ods-industry-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): api test
  src/modules/ods/ods.service.ts
  test/ods/ods.ukef-industry-codes.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): logging improvements
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): rename endpoints
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): add industry-codes endpoint
  src/helpers/index.ts
  src/helpers/map-industry-codes.test.ts
  src/helpers/map-industry-codes.ts
  src/modules/ods/dto/get-ods-industry-ods-response.dto.ts
  src/modules/ods/dto/get-ods-industry-ods.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): fix typo
  src/modules/ods/dto/get-ods-industry-response.dto.ts
  src/modules/ods/dto/index.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): unit tests
  src/modules/ods/ods.controller.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): fix security/audit issue
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies
  .github/actions/acr/action.yml
  .github/actions/notify/action.yml
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): rename dtos
  src/helpers/map-industries.ts
  src/helpers/map-industry-codes.ts
  src/helpers/map-industry.ts
  src/modules/ods/dto/get-industry-ods-response.dto.ts
  src/modules/ods/dto/get-industry-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): stored procedure constant
  src/constants/index.ts
  src/constants/stored-procedure.constant.ts
  src/modules/ods/ods.service-findBusinessCentreNonWorkingDays.test.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service-findDeal.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): update unit tests
  src/modules/ods/ods.service-findUkefIndustry.test.ts
  src/modules/ods/ods.service-getUkefIndustries.test.ts
  src/modules/ods/ods.service-getUkefIndustryCodes.test.ts
  src/modules/ods/ods.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): bump dependencies (#1670)
  .github/actions/acr/action.yml
  .github/actions/notify/action.yml
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/purge.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): ai markups
  src/helpers/map-industries.test.ts
  src/modules/dom/credit-risk-ratings/credit-risk-ratings.service.ts
  src/modules/dom/dom.service.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findUkefIndustry.test.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(17011): get ukef industry, industries, industry codes (#1668)
  src/constants/examples/examples.constant.ts
  src/constants/index.ts
  src/constants/stored-procedure.constant.ts
  src/helpers/index.ts
  src/helpers/map-business-centre.test.ts
  src/helpers/map-industries.test.ts
  src/helpers/map-industries.ts
  src/helpers/map-industry-codes.test.ts
  src/helpers/map-industry-codes.ts
  src/helpers/map-industry.test.ts
  src/helpers/map-industry.ts
  src/modules/dom/credit-risk-ratings/credit-risk-ratings.service.ts
  src/modules/dom/dom.service.ts
  src/modules/ods/dto/find-ods-industry-param.dto.ts
  src/modules/ods/dto/get-industry-ods-response.dto.ts
  src/modules/ods/dto/get-industry-response.dto.ts
  src/modules/ods/dto/index.ts
  src/modules/ods/dto/ods-payloads.dto.ts
  src/modules/ods/ods.controller.test.ts
  src/modules/ods/ods.controller.ts
  src/modules/ods/ods.service-findCustomer.test.ts
  src/modules/ods/ods.service-findDeal.test.ts
  src/modules/ods/ods.service-findUkefIndustry.test.ts
  src/modules/ods/ods.service-getUkefIndustries.test.ts
  src/modules/ods/ods.service-getUkefIndustryCodes.test.ts
  src/modules/ods/ods.service.ts
  test/ods/ods.ukef-industries.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.36.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(17011): fix typo
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.36.0 (#1676)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(17011): fix typo (#1678)
  src/modules/ods/ods.controller.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19781): product configuration - update json, schema
  src/constants/examples/examples.constant.ts
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
  test/docs/__snapshots__/get-docs-yaml.api-test.ts.snap
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19781): fix/update constants, unit tests
  src/constants/examples/examples.constant.ts
  src/modules/dom/dom.service.test.ts
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19781): update accounts type
  src/helper-modules/dom/dom-product-config.json
  src/modules/dom/dto/get-dom-product-config-response.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-19781): update test
  test/dom/dom-product-configurations.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files
