Repository UK-Export-Finance/mdm-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  .github/workflows/lint.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): lint fixes
  package-lock.json
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.test.ts
  test/companies/get-company-by-registration-number.api-test.ts
  test/support/generator/post-emails-generator.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates (#1097)
  .github/workflows/deployment.yml
  .github/workflows/github.yml
  .github/workflows/lint.yml
  .github/workflows/pr.yml
  .github/workflows/sca.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/ordnance-survey/ordnance-survey.service.test.ts
  test/companies/get-company-by-registration-number.api-test.ts
  test/support/generator/post-emails-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.21.7
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

refactor: cleanup and typo fix
  src/helper-modules/dun-and-bradstreet/dun-and-bradstreet.service.test.ts
  src/helper-modules/dun-and-bradstreet/exception/dun-and-bradstreet.exception.test.ts
  src/main.module.ts
  src/modules/http/http.constants.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: make log redacting more specific
  src/logging/log-keys-to-redact.ts
  src/main.module.ts
  src/modules/http/http.constants.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: update tests
  src/logging/log-keys-to-redact.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: linting
  src/main.module.ts
  src/modules/http/http.constants.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: linting
  src/logging/log-keys-to-redact.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat: revert unnecessary logging changes
  src/logging/log-keys-to-redact.test.ts
  src/logging/log-keys-to-redact.ts
  src/main.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(deps): dependencies updates
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(deps): added eslint-plugin-node
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-610): markets - add country rating description field (#1090)
  src/modules/markets/entities/market.entity.ts
  test/markets/markets.api-test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-609): added type to test
  package-lock.json
  package.json
  src/helper-modules/companies-house/dto/get-company-companies-house-response.dto.ts
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
  test/support/generator/get-company-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-609): updated test generator shape
  package-lock.json
  package.json
  src/modules/companies/examples/example-response-for-get-company-by-registration-number.json
  test/support/generator/get-company-generator.ts
  test/support/generator/random-value-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-608): spelling fix
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-609): companies house - extend returned fields (#1089)
  package-lock.json
  package.json
  src/helper-modules/companies-house/dto/get-company-companies-house-response.dto.ts
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
  src/modules/companies/examples/example-response-for-get-company-by-registration-number.json
  test/support/generator/get-company-generator.ts
  test/support/generator/random-value-generator.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-6804): setup new ODS repo
  docker-compose.yml
  src/config/database.config.ts
  src/constants/database-name.constant.ts
  src/modules/database/database.module.ts
  src/modules/database/mssql-ods-database.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-608): updated prepare upload argument
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/modules/emails/dto/post-emails-request.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-608): updated test shape
  package.json
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-608): updated package lock
  package-lock.json
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(APIM-608): gov notify - file upload/link support (#1083)
  package-lock.json
  package.json
  src/constants/govuk-notify.constant.ts
  src/helper-modules/govuk-notify/examples/example-response-for-prepare-upload.json
  src/helper-modules/govuk-notify/examples/example-response-for-send-emails.json
  src/helper-modules/govuk-notify/govuk-notify.service.test.ts
  src/helper-modules/govuk-notify/govuk-notify.service.ts
  src/modules/emails/dto/post-emails-request.dto.ts
Due: eslint ./src --ext .ts --fix, sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.22.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.22.0 (#1086)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-6804): add env variables to deployment script
  .github/workflows/deployment.yml
  src/config/database.config.ts
  src/modules/database/mssql-ods-database.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-6804): remove unnecessary comments
  src/modules/database/mssql-ods-database.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

refactor: snake -> camel casing
  src/helper-modules/dun-and-bradstreet/dun-and-bradstreet.service.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

lint: fix import order
  src/helper-modules/dun-and-bradstreet/dun-and-bradstreet.service.test.ts
  src/helper-modules/dun-and-bradstreet/dun-and-bradstreet.service.ts
  src/main.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-611): bug fixes
  package-lock.json
  src/app.ts
  src/constants/govuk-notify.constant.ts
  src/main.ts
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
  src/modules/emails/dto/post-emails-request.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-611): bug fixes
  src/helper-modules/companies-house/dto/get-company-companies-house-response.dto.ts
  src/modules/companies/dto/get-company-response.dto.ts
  src/modules/emails/dto/post-emails-request.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

fix(APIM-611): notify, companies house bug fixes (#1113)
  package-lock.json
  src/app.ts
  src/constants/govuk-notify.constant.ts
  src/helper-modules/companies-house/dto/get-company-companies-house-response.dto.ts
  src/main.ts
  src/modules/companies/companies.service.ts
  src/modules/companies/dto/get-company-response.dto.ts
  src/modules/emails/dto/post-emails-request.dto.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.22.1
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

chore(main): release 1.22.1 (#1114)
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: sort-package-json, cspell lint --no-summary --no-progress --no-must-find-files

feat(FN-6804): remove FF reference
  docker-compose.yml
Due: cspell lint --no-summary --no-progress --no-must-find-files

feat(GIFT-6804): align module naming capitalisation, include ODS port and update .env.sample
  .env.sample
  docker-compose.yml
  src/config/database.config.ts
  src/modules/database/database.module.ts
  src/modules/database/mssql-ods-database.module.ts
Due: eslint ./src --ext .ts --fix, cspell lint --no-summary --no-progress --no-must-find-files

Path conditions:
  eslint ./src --ext .ts --fix: any of: *.ts
  sort-package-json: any of: package.json
  cspell lint --no-summary --no-progress --no-must-find-files: any of: *
